    
    <!DOCTYPE html>
    <html lang="en">
    
<head>
    <meta charset="UTF-8">
    <title>聊天室</title>
    <meta http-equiv="Pragma" contect="no-cache">
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<style>
.chat{
    position: fixed;
    top: 100px;
    right: 20px;
    width: 350px;
    height: 500px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
}
.chat .close{
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}
.chat img{
    width: 20px;
}
.chat .chat-content{
    clear: both;
    position: relative;
    top: -20px;
}
.chat-title{
    padding-bottom: 5px;
    border-bottom: 1px solid #F5F5F5 ;
}
.chat-title span{
    color: #f4630b;
}
.chat-ul{
    list-style: none;
    padding: 10px;
    margin: 0;
    /* min-height:250px; */
    overflow-y:auto;
    max-height:400px;
}
.chat-ul li{
    list-style-type:none;
}
.world{
    display: inline-block;
    font-size: 14px;
    border: 1px solid #f5f5f5;
    padding: 2px 5px;
    background: #f5f5f5;
    position: relative;
    top: -15px;
    left: 0px;
    border-radius: 5px;
}
.world2{
    display: inline-block;
    font-size: 14px;
    border: 1px solid #f5f5f5;
    padding: 2px 5px;
    background: #f5f5f5;
    position: relative;
    top: -15px;
    right: -5px;
    border-radius: 5px;
}
.chat-right-arrow{
    width: 0px;
    height: 0px;
    font-size: 0;
    border: solid 8px #f5f5f5;
    border-color: #fff #fff #fff #f5f5f5;
    position: relative;
    right: -100%;
    top: 3px;
}
.chat-left-arrow{
    width: 0px;
    height: 0px;
    font-size: 0;
    border: solid 8px #f5f5f5;
    border-color: #fff #f5f5f5 #fff #fff;
    position: relative;
    left: -10px;
    top: 3px
}
.from img,.to img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.from{
    text-align: right;
}
.from .text{
    margin-top: -35px;
    margin-right: 45px;
}
.to{
    text-align: left;
}
.to .text{
    margin-top: -35px;
    margin-left: 45px;
}
.chat .chat-time{
    color: #aeaeae;
    font-size: 12px;
    position: relative;
    top: -15px;
}
.chat-input{
    width: 95%;
    position: absolute;
    bottom: 10px;
    left: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-input input{
    width: 70%;
    line-height: 16px;
    border-radius: 5px;
    border: 1px solid #f5f5f5;
    padding-left:5px;
    height: 25px;
}
input:focus{outline:none;}
.chat-input div{
    margin-left: 10px;
    height: 25px;
    line-height: 25px;
    width: 25%;
    padding: 2px;
    background: #f4630b;
    color: #fff;
    border-radius: 5px;
}
</style>

<body>
    <div class="chat">
        <div class="close">
            <img src="/images/close.png" alt="">
        </div>
        <div class="chat-content">
            <div class="chat-title">与 <span>ztchun</span> 对话</div>
            <div class="chat-text">
                <ul class="chat-ul">
                    <div>
                        <li class="from">
                            <a href=""><img src="/avatar.jpg" alt=""></a>
                            <div class="text">
                                <div class="chat-right-arrow"></div>
                                <div class="world">{{item.content}}</div>
                                <div class="chat-time">{{item.time}}</div>
                            </div>
                        </li>
                        <li class="to"e>
                            <a href=""><img src="/avatar.jpg" alt=""><a>
                            <div class="text">  
                                <div class="chat-left-arrow"></div>
                                <div class="world2">{{item.content}}</div>
                                <div class="chat-time">{{item.time}}</div>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
        <div class="chat-input">
            <input type="text"  v-model="chatContent">
            <div class="chat-send" @click="chat">发送</div>
        </div>
    </div>

    <script>
        $(function(){
            var socket = io();
            $(".chat-send").click(function(){
                var message = {
                    username: 'ztchun',
                    contentText: 'ztchun发送的信息'
                }
                socket.emit("chat",message);
            })

            socket.on("answer",function(msg){
                var li = $("<li>"+msg.username+":"+msg.contentText+"</li>");
                $(".list").append(li);
                $("#content").val("")
            })
        })
    </script>
</body>    