<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>社区话题</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
</head>
<style type="text/css">
    body{
        margin: 0;
        padding: 0;
        background: #ededef;
    }
    a{
        text-decoration: none;
    }
    .left,.right{
        margin: 0 auto;
    }
    #app{
        text-align: center;
    }
    .left{
        /* padding-left:15%; */
        margin-left: -8px;
        width: 100%;
    }
    .right{
        margin-top: 15px;
        margin-left: 8px;
        width: 100%;
    }
    .menu-padding{
        padding-left: 35%;
    }
    .content{
        background: #fff;
        width: 98%;
        margin: 15px auto;
        cursor: pointer;
    }
    .sub-content{
        width: 115px;
        height: 100px;
        border-right: 1px solid #ededef;
        color: #f4630b;
        font-size: 53px;
        display: inline-block;
        padding-top: 5px;
        padding-bottom: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    .text{
        font-size:12px;
    }
    .sub-content:last-child{
        border: none;
    }
    .twitter{
        width: 100%;
        /*margin: 15px auto;*/
    }
    .avatar{
        width: 100%;
    }
    .avatar-left{
        padding-right: 10px;
    }
    .content-right{
        text-align: left;
        margin-left: 20px;
        background: #fff;
        padding: 10px 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }
    .content-right>div{
        position: relative;
        background: #fff;
    }
    .arrow{
        position: absolute;
        top: 5px;
        left: -38px;
        width:0;
        height:0;
        font-size:0;
        border:solid 15px;
        border-color:#ededef #fff #ededef #ededef;
    }
    .content-row{
        margin-top: 20px;
    }
    .post{
        margin-top: 10px;
        margin-bottom: 10px;
        clear: both;
    }
    .top{
        border-bottom: 1px solid #d8d8d8;
        padding: 7px;
    }
    .bottom{
        clear: both;
        border-top: 1px solid #d8d8d8;
        padding: 7px;
    }
    .top span,.bottom span{
        color: #bdbdbd;
    }
    .time,.tags{
        float: right;
    }
    .tags span{
        margin-left: 5px;
        margin-right: 5px;
        font-size: 14px;
    }
    /* .heart-number,.comment-number{
        font-size:14px;
    } */
    .images{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 10px 30px;
        flex-wrap: wrap;
    }
    .images img{
        width: 21%;
        padding: 10px;
    }
    .info{
        background: #f3f3f3;
        border: 1px solid #dfdfdf;
    }
    .name{
        font-size:15px;
        font-weight: 700;
        border-right: 2px solid #fff;
    }
    .name>div{
        margin-left: 20px;
        margin-top: 10px;
        height: 50px;
        text-align: left;
        line-height: 60px;
    }
    .name>div>span{
        display: block;
        line-height: 20px;
    }
    .name .ztc{
        color: #f4630b
    }
    .name>div>span:nth-child(2){
        font-weight: 400;
    }
    .icon-dropdown>i{
        font-weight: 600;
        font-size: 25px;
        line-height: 60px;
    }
    .list{
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 15px;
        border-bottom: 1px solid #dfdfdf;
        border-left: 1px solid #dfdfdf;
        border-right: 1px solid #dfdfdf;
        background: #f3f3f3;
        text-align: left;
        font-size: 14px;
    }
    .list i{
        color:#f4630b;
    }
    .list span{
        margin-left: 15px;
    }
    .list:nth-child(1){
        /* margin-top: 5px; */
        border-top: 2px solid #dfdfdf;
    }
    .dialog-form{
        margin: 25px;
    }
    .dialog-select{
        width: 100%;
    }
    .dialog-upload{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }
    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
    }
    .avatar2 {
        width: 178px;
        height: 178px;
        display: block;
    }
    .uploadimgs{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .uploadimgs img{
        margin: 5px;
    }
    .post-title{
        margin-left: 15px;
        margin-right: 15px;
        font-size: 16px;
    }
    .post-content{
        margin-left: 35px;
        margin-right: 35px;
        color: #848484;
        font-size: 13px;
    }
    .search-menu{
        margin-left: 50px;
        float: left;
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    .search input{
        float: right;
        width: 200px;
        height: 30px;
        border-radius: 15px;
    }
    .search-icon{
        color: #f4630b;
        margin-left: -25px;
        z-index: 100;
        font-size:18px;
        font-weight: 900;
    }
</style>
<body>
    <div id="app">
        <!--菜单导航-->
        <el-menu
                :default-active="activeIndex"
                class="el-menu-demo menu-padding"
                mode="horizontal"
                @select="handleSelect"
                background-color="#f4630b"
                text-color="#fff"
                active-text-color="#ffd04b">
            <el-menu-item index="0"><a href="/">首页</a></el-menu-item>
            <el-menu-item index="1"><a href="/community">校论区</a></el-menu-item>
            <el-menu-item index="2"><a href="/life">生活休闲</a></el-menu-item>
            <el-menu-item index="3"><a href="/whiteWall">表白墙</a></el-menu-item>
            <el-submenu index="4">
                <template slot="title">我的</template>
                <el-menu-item index="账号设置">账号设置</el-menu-item>
                <el-menu-item index="我的关注">我的关注</el-menu-item>
                <el-menu-item index="我的贴子">我的贴子</el-menu-item>
                <!-- 系统通知为管理员 -->
                <el-menu-item index="系统通知">系统通知</el-menu-item>
                <!-- 个人私信为个人收到的信息 -->
                <el-menu-item index="个人私信">个人私信</el-menu-item>
                <el-menu-item index="帮助和反馈">帮助和反馈</el-menu-item>
                <el-menu-item index="退出">退出</el-menu-item>
            </el-submenu>
            <div class="search-menu">
                <el-input class="search"
                    placeholder="请输入内容"
                    v-model="search"
                    clearable>
                </el-input>
                <i class="el-icon-search search-icon"></i>
            </div>
        </el-menu>

        <el-row>
            <!-- left -->
            <el-col :span='12' :offset='4'>
                <div class="left">
                    <!-- menu -->
                    <div class="content">
                        <div class="sub-content" v-for="(item, index) in content" @click="handleClick(item,index)">
                            <i :class="'fa '+item.icon"></i>
                            <div v-if="item.text" class="text">{{item.text}}</div>
                        </div>
                    </div>
                    <!-- 内容 -->
                    <div class="twitter">
                        <el-row v-for="item in posts" class="content-row">
                            <el-col :span="2" class="avatar-left">
                                <img :src="item.avator" alt="" class="avatar">
                            </el-col>
                            <el-col :span="21" class="content-right">
                                <div>
                                    <div class="arrow"></div>
                                    <div class="top">
                                        <span class="username">{{item.user_name}}</span>
                                        <span class="time">{{item.time}}</span>
                                    </div>
                                    <div class="post">
                                        <div class="post-title" v-if="item.post_title">{{item.post_title}}</div>
                                        <div class="post-content" v-if="item.post_content">{{item.post_content}}</div>
                                        <div class="images" v-if="item.post_photos">
                                            <img v-for="image in item.post_photos" :src="image"></img>
                                        </div>
                                    </div>
                                    <div class="bottom">
                                        <span class="looks">
                                            <span class="fa fa-tag"></span>
                                            <span>{{item.subject_name}}</span>
                                        </span>
                                        <span class="tags">
                                            <span v-if="item.look">浏览数{{item.look}}</span>
                                            <span class="fa fa-heart heart"> {{item.hearts}}</span>
                                            <span class="fa fa-commenting comment"> {{item.reply_num}}</span> 
                                            <span class="fa fa-share share"> {{item.share}}</span>    
                                        </span>
                                    </div>
                                    
                                 </div>
                            </el-col>
                        </el-row>
                    </div>
                </div>
            </el-col>
            <!-- right -->
            <el-col :span='4'>
                <div class="right">
                    <el-row class="info">
                        <el-col :span="18" class="name">
                            <div>
                                <span class="ztc">ztchun</span>
                                <span>ztchun.com</span>
                            </div>
                        </el-col>
                        <el-col :span="6">
                                <span class="icon-dropdown">
                                    <i class="el-icon-arrow-down el-icon--right"></i>
                                </span>
                        </el-col>
                    </el-row>
                    <el-row>
                        <div class="list" v-for='item in list'>
                            <i :class="item.icon"></i>
                            <span>{{item.text}}</span>
                        </div>
                    </el-row>   
                </div>
            </el-col>
        </el-row>

        <!-- dialog -->
        <el-dialog title="发布帖子" :visible.sync="dialogFormVisible">
            <el-form :model="form" :rules="rules" ref="form" class="dialog-form">
                <el-form-item label="所属主题" label-width="80px">
                    <template>
                        <el-radio  @change="radioChange" v-model="form.radio" label="1">主题已经存在（在此主题下创建帖子）</el-radio>
                        <el-radio  @change="radioChange" v-model="form.radio" label="2">新建主题</el-radio>
                    </template>
                </el-form-item>

                <el-form-item label="主题名称" prop="subject" label-width="80px" v-if="form.radio == 1">
                        <el-select class="dialog-select" v-model="form.subject" placeholder="请选择">
                            <el-option
                                v-for="(item, index) in options"
                                :key="index"
                                :label="item.subject_name"
                                :value="item._id">
                            </el-option>
                        </el-select>
                </el-form-item>

                <el-form-item label="主题名称" prop="subject2" label-width="80px" v-if="form.radio == 2">
                    <el-input v-model="form.subject2" placeholder="请输入主题名称"></el-input>
                </el-form-item>
                <el-form-item label="主题描述" prop="desc" label-width="80px" v-if="form.radio == 2">
                    <el-input v-model="form.desc" placeholder="请输入主题描述"></el-input>
                </el-form-item>
            
                <el-form-item label="帖子标题" prop="title" label-width="80px">
                    <el-input v-model="form.title" placeholder="请输入帖子标题"></el-input>
                </el-form-item>
                <el-form-item label="帖子内容" label-width="80px">
                    <el-input
                        type="textarea"
                        :rows="4"
                        placeholder="请输入帖子内容"
                        v-model="form.content">
                    </el-input>
                </el-form-item>
                <el-form-item label="帖子图片" label-width="80px">
                    <el-upload
                        class="avatar-uploader dialog-upload"
                        :action="upload"
                        :show-file-list="false"
                        :on-success="handleUploadSuccess"
                        :before-upload="beforeUpload">
                        <div class="uploadimgs">
                            <!-- <img :src="image" class="avatar2"> -->
                            <i class="el-icon-plus avatar-uploader-icon"></i>
                        </div>
                      </el-upload>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="handleCancle('form')">取 消</el-button>
                <el-button type="primary" @click="handlePost('form')">确 定</el-button>
            </div>
        </el-dialog>
    </div>
</body>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- 先引入 Vue -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function() {
            return {
                search: '',
                activeIndex: '1',
                content: [
                    {
                        icon: 'fa-plus-square-o',
                        text: '发布吧贴'
                    },
                    {
                        icon: 'fa-object-group',
                        text: '乡情校谊'
                    },
                    {
                        icon: 'fa-shopping-basket',
                        text: '二手集市'
                    },
                    {
                        icon: 'fa-graduation-cap',
                        text: '学霸论区'
                    },
                    {
                        icon: 'fa-music',
                        text: '知音'
                    },
                    {
                        icon: 'fa-navicon',
                        text: '更多'
                    }
                ],
                posts: [
                    // {
                    //     subject: '摄影',
                    //     username:"ztchun",
                    //     time: '2018-01-03',
                    //     look: 32,
                    //     avator: "/images/avatar.jpg",
                    //     text: '这是一篇文章，包含了我的想法，这是community页面的说说展示，这里面都是一些说说的内容，看到一些有趣的内容这是一篇文章，包含了我的想法，这是community页面的说说这是一篇文章，包含了我的想法，这是community页面的说说展示，这里面都是一些说说的内容，看到一些有趣的内容',
                    // },
                    // {
                    //     subject: '摄影',
                    //     username:"ztchun",
                    //     time: '2018-01-03',
                    //     look: 32,
                    //     avator: "/images/avatar.jpg",
                    //     text: '这是一篇文章，包含了我的想法，这是community页面的说说展示，这里面都是一些说说的内容，看到一些有趣的内容这是一篇文章，包含了我的想法，这是community页面的说说这是一篇文章，包含了我的想法，这是community页面的说说展示，这里面都是一些说说的内容，看到一些有趣的内容',
                    // }
                ],
                list: [
                    {
                        icon: 'fa fa-pencil-square-o',
                        text: '账号设置'
                    },
                    {
                        icon: 'fa fa-star-o',
                        text: '我的关注'
                    },
                    {
                        icon: 'fa fa-sticky-note-o',
                        text: '我的帖子'
                    },
                    {
                        icon: 'fa fa-bullhorn',
                        text: '系统通知'
                    },
                    {
                        icon: 'fa fa-envelope-o',
                        text: '个人私信'
                    },{
                        icon: 'fa fa-question',
                        text: '帮助和反馈'
                    },{
                        icon: 'fa fa-power-off',
                        text: '退出'
                    },
                ],
                form: {
                    title: '',
                    content: '',
                    radio: '1',
                    subject: '',
                    images: [],
                    subject2: '',
                    desc: ''
                },
                options: [
                ],
                image: '',
                images: [],
                imageVisible: false,
                dialogFormVisible: false,
                rules: {
                    subject:[
                        {
                            required: true,
                            message: '请填写主题名称',
                            trigger: 'blur'
                        }
                    ],
                    title:[
                        {
                            required: true,
                            message: '请填写帖子名称',
                            trigger: 'blur'
                        }
                    ],
                    subject2: [
                    {
                            required: true,
                            message: '请填写主题名称',
                            trigger: 'blur'
                        }
                    ]
                },
                upload: '/imageUpload',
                start: 0
            }
        },
        created () {
            this.initSelect()
            this.initPost(0, 10)
            // 下拉刷新
            window.addEventListener("scroll", this.handleScroll)
        },
        watch: {
            dialogFormVisible (value) {
                if (!value){
                    this.form = {
                        radio: '1'
                    }
                }
            }          
        },
        methods: {
            // 请求post帖子  每次请求10条数据
            initPost (start, limit) {
                var _this = this
                this.start += 10
                this.handleAjax("/getPosts", 'get', {start: start, limit:limit}, function(data){
                    // console.log(JSON.parse(data))
                    if (data == '0') {
                        return
                    } else {
                        _this.posts = _this.posts.concat(JSON.parse(data))
                    }
                })
            },
            initSelect() {
                var _this = this
                this.handleAjax('/selectOptions', 'get', {}, function(data){
                    var jsonArray = JSON.parse(data)
                    _this.options = jsonArray
                    // console.log(_this.options)
                })
            },
            handleSelect: function(key, keyPath){
                console.log(key, keyPath)
            },
            handleClick(item,index) {
                // 发布贴吧
                if (index == 0) {
                    this.dialogFormVisible = true
                }
            },
            handleUploadSuccess(res, file) {
                if (res != 0) {
                    var index = res.indexOf("postImages")
                    this.image = res.slice(index+10)
                    this.images.push(this.image)
                    // 创建元素
                    $img = $("<img src=\" " + this.image + " \" style='width: 178px;height: 178px;display: inline-block;'>")
                    $(".uploadimgs").append($img)
                }
                
            },
            beforeUpload(file) {
                const isLt2M = file.size / 1024 / 1024 < 2;
        
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2MB!');
                }
                return isLt2M
            },
            // ajax请求
            handleAjax (url, method, data, handleSuccess) {
                $.ajax({
                    url: url,
                    type: method,
                    data: data,
                    success: handleSuccess,
                    error: function(err){
                        console.log(err)
                    }
                })
            },
            // 提交表单
            handlePost(form) {
                var _this = this
                this.$refs[form].validate((valid) => {
                    if (valid) {
                        this.dialogFormVisible = false
                        _this.form.images = this.images
                        // console.log(_this.form)
                        _this.handleAjax('/submitPost', 'post', _this.form, function(data){
                            console.log(data)
                            if(data == '0') {
                                _this.$message.error("您还未登录, 请先登录再发布吧贴吧！")
                            } else if (data == '2'){
                                _this.$message.error("soory, 发布失败")
                            }else{
                                var post = JSON.parse(data)
                                // _this.posts.splice(0, 0, post)
                                _this.initPost()
                            }
                        })
                    } else {
                        return false;
                    }
                });
            },
            // 取消表单
            handleCancle(){
                this.dialogFormVisible = false
            },
            radioChange(value) {
                this.form = {
                    radio: value
                }
            },
            // 下拉刷新
            handleScroll () {
                this.initPost(this.start, 3)
            }
        }
    })
</script>
</html>
