<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>社区话题</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
</head>
<style type="text/css">
    body{
        margin: 0;
        padding: 0;
        background: #dceffe;
    }
    a{
        text-decoration: none;
    }
    .left,.right{
        margin: 0 auto;
    }
    #app{
        text-align: center;
    }
    .left{
        /* padding-left:15%; */
        margin-left: -8px;
        width: 100%;
    }
    .right{
        margin-top: 15px;
        margin-left: 8px;
        width: 100%;
    }
    .menu-padding{
        padding-left: 35%;
    }
    .content{
        background: #fff;
        width: 98%;
        margin: 15px auto;
        cursor: pointer;
    }
    .sub-content{
        width: 115px;
        height: 100px;
        border-right: 1px solid #ededef;
        color: #f4630b;
        font-size: 53px;
        display: inline-block;
        padding-top: 5px;
        padding-bottom: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    .text{
        font-size:12px;
    }
    .sub-content:last-child{
        border: none;
    }
    .twitter{
        width: 100%;
        /*margin: 15px auto;*/
    }
    .avatar{
        width: 100%;
    }
    .avatar-left{
        padding-right: 10px;
    }
    .content-right{
        text-align: left;
        margin-left: 20px;
        background: #fff;
        padding: 10px 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }
    .content-right>div{
        position: relative;
        background: #fff;
    }
    .arrow{
        position: absolute;
        top: 5px;
        left: -38px;
        width:0;
        height:0;
        font-size:0;
        border:solid 15px;
        border-color:#fafafa #fff #fafafa #fafafa;
    }
    .content-row{
        margin-top: 20px;
    }
    .post{
        margin-top: 10px;
        margin-bottom: 10px;
        clear: both;
    }
    .top{
        border-bottom: 1px solid #d8d8d8;
        padding: 7px;
    }
    .bottom{
        cursor: pointer;
        clear: both;
        border-top: 1px solid #d8d8d8;
        padding: 7px;
    }
    .top span,.bottom span{
        color: #bdbdbd;
    }
    .time,.tags{
        float: right;
    }
    .tags span{
        margin-left: 5px;
        margin-right: 5px;
        font-size: 14px;
    }
    /* .heart-number,.comment-number{
        font-size:14px;
    } */
    .images{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 10px 30px;
        flex-wrap: wrap;
    }
    .images img{
        width: 21%;
        padding: 10px;
    }
    .info{
        background: #f3f3f3;
        border: 1px solid #dfdfdf;
    }
    .name{
        font-size:15px;
        font-weight: 700;
        border-right: 2px solid #fff;
    }
    .name>div{
        margin-left: 20px;
        margin-top: 10px;
        height: 50px;
        text-align: left;
        line-height: 60px;
    }
    .name>div>span,.name>div>a{
        display: block;
        line-height: 20px;
    }
    .name .ztc{
        color: #f4630b
    }
    .name>div>a{
        font-weight: 400;
    }
    .icon-dropdown>i{
        font-weight: 600;
        font-size: 25px;
        line-height: 60px;
    }
    .list{
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 15px;
        border-bottom: 1px solid #dfdfdf;
        border-left: 1px solid #dfdfdf;
        border-right: 1px solid #dfdfdf;
        background: #f3f3f3;
        text-align: left;
        font-size: 14px;
    }
    .list i{
        color:#f4630b;
    }
    .list span{
        margin-left: 15px;
    }
    .list:nth-child(1){
        /* margin-top: 5px; */
        border-top: 2px solid #dfdfdf;
    }
    .dialog-form{
        margin: 25px;
    }
    .dialog-select{
        width: 100%;
    }
    .dialog-upload{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }
    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
    }
    .avatar2 {
        width: 178px;
        height: 178px;
        display: block;
    }
    .uploadimgs{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .uploadimgs img{
        margin: 5px;
    }
    .post-title{
        margin-left: 15px;
        margin-right: 15px;
        font-size: 16px;
    }
    .post-content{
        margin-left: 35px;
        margin-right: 35px;
        color: #848484;
        font-size: 13px;
    }
    .search-menu{
        margin-left: 50px;
        float: left;
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    .search input{
        float: right;
        width: 200px;
        height: 30px;
        border-radius: 15px;
    }
    .search-icon{
        color: #f4630b;
        margin-left: -25px;
        z-index: 100;
        font-size:18px;
        font-weight: 900;
    }
    .login{
        font-size: 40px;
        color: #bdbdbd;
    }
    .name_login span{
        margin-top: -10px;
    }
    .name_login>a{
        font-size: 14px;
        margin-left: 20px;
        margin-top: -10px;
        background: #f4630b;
        color: #fff;
        padding: 5px 10px;
        border-radius: 8px;
    }
    .name_login{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .el-notification.right{
        width: 300px;
    }
    .sub-menu{
        color:#fff;
    }
    .comments{
        font-size: 12px;
    }
    .comment{
        cursor: pointer;
        position: relative;
    }
    .popover{
        background: #222;
        color: #fff;
        position: absolute;
        top:20px;
        padding: 5px;
        left:50px;
        /* width: 60px; */
        border-radius: 5px;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .poparrow{
        position: absolute;
        top: -8px;
        /* left: -38px; */
        width: 0;
        height: 0;
        font-size: 0;
        border: solid 4px;
        border-color: #fff  #fff #222 #fff;
    }
    .popover span{
        margin: 0 10px;
    }
    .comment span{
        margin: 2px;
    }
    .comment>span:nth-child(1),.comment>span:nth-child(3){
        color:#bfbfbf;
    }
    .comment_input{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    .comment_input .input,.comment_input .send{
        margin: 5px;
    }
    .comment_input .el-input__inner{
        height: 30px;
    }
    .comment_input .el-button--primary.is-plain{
        color: #f4630b;
        border-color: #dcdfe6;
        background: #fff;
    }
    .comment_input .el-button{
        font-size: 12px;
        padding: 7.5px 10px;
    }
    .my-ba{
        background: #f3f3f3;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-wrap: wrap;
        border-radius: 4px;
    }
    .my-ba .ba-title{
        font-size: 14px;
        padding: 5px 10px;
        width: 100%;
        text-align: left;
    }
    .my-ba .ba-content{
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        font-size: 13px;
    }
    .ba{
        background: #fff;
        padding: 8px;
        width: 38%;
        margin: 2px;
        border: solid 1px #f3f3f3;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .ba .star{
        color: #f4630b;
        text-align: left;
        padding-right: 3px;
    }
    .el-tabs--border-card{
        background: #fafafa;
    }
    .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active{
        background: #fafafa;
        color: #f4630b
    }
    .el-tabs--border-card>.el-tabs__header .el-tabs__item:hover{
        color: #f4630b;
    }

</style>
<body>
    <div id="app">
        <!--菜单导航-->
        <el-menu
                :default-active="activeIndex"
                class="el-menu-demo menu-padding"
                mode="horizontal"
                @select="handleSelect"
                background-color="#f4630b"
                text-color="#fff"
                active-text-color="#ffd04b">
            <el-menu-item index="0"><a href="/">首页</a></el-menu-item>
            <el-menu-item index="1"><a href="/community">校论区</a></el-menu-item>
            <el-menu-item index="2"><a href="/life">生活休闲</a></el-menu-item>
            <el-menu-item index="3"><a href="/whiteWall">表白墙</a></el-menu-item>
            <el-submenu index="4">
                <template slot="title">我的</template>
                <el-menu-item index="4"><a href="/mine?index=4" class="sub-menu">账号设置</a></el-menu-item>
                <el-menu-item index="5"><a href="/mine?index=5" class="sub-menu">我的吧</a></el-menu-item>
                <el-menu-item index="6"><a href="/mine?index=6" class="sub-menu">我的关注</a></el-menu-item>
                <el-menu-item index="7"><a href="/mine?index=7" class="sub-menu">我的帖子</a></el-menu-item>
                <el-menu-item index="8"><a href="/mine?index=8" class="sub-menu">我的消息</a></el-menu-item>
                <el-menu-item index="9"><a href="/mine?index=9" class="sub-menu">帮助和反馈</a></el-menu-item>
                <el-menu-item index="10"><a href="/mine?index=10" class="sub-menu">退出</a></el-menu-item>
            </el-submenu>
            <div class="search-menu">
                <el-input class="search"
                    placeholder="请输入内容"
                    v-model="search"
                    clearable>
                </el-input>
                <i class="el-icon-search search-icon"></i>
            </div>
        </el-menu>

        <el-row>
            <!-- left -->
            <el-col :span='12' :offset='4'>
                <div class="left">
                    <!-- menu -->
                    <div class="content">
                        <div class="sub-content" v-for="(item, index) in menus" @click="handleClick(item,index)">
                            <i :class="'fa '+item.icon"></i>
                            <div v-if="item.text" class="text">{{item.text}}</div>
                        </div>
                    </div>
                    <!-- 内容 -->
                    <el-tabs type="border-card" v-model="tabName" @tab-click="tabClick">
                        <el-tab-pane label="全部动态" name="all">
                            <div class="twitter">
                                <el-row v-for="(item,index) in posts" class="content-row">
                                    <el-col :span="2" class="avatar-left">
                                        <img :src="item.avator" alt="" class="avatar">
                                    </el-col>
                                    <el-col :span="21" class="content-right">
                                        <div>
                                            <div class="arrow"></div>
                                            <div class="top">
                                                <span class="username">{{item.user_name}}</span>
                                                <span class="time">{{item.time}}</span>
                                            </div>
                                            <div class="post">
                                                <div class="post-title" v-if="item.post_title">{{item.post_title}}</div>
                                                <div class="post-content" v-if="item.post_content">{{item.post_content}}</div>
                                                <div class="images" v-if="item.post_photos">
                                                    <img v-for="image in item.post_photos" :src="image"></img>
                                                </div>
                                            </div>
                                            <div class="bottom">
                                                <span class="looks">
                                                    <span class="fa fa-tag"></span>
                                                    <span>{{item.subject_name}}</span>
                                                </span>
                                                <span class="tags">
                                                    <!-- <span v-if="item.look">浏览数{{item.look}}</span> -->
                                                    <span class="fa fa-heart heart" :style="item.style.heart" @click="showHeart(index, item)"> {{item.hearts}}</span>
                                                    <span class="fa fa-commenting comment"  @click="showComments(index, item)" > {{item.reply_num}}</span> 
                                                    <span class="fa fa-share share" :style="item.style.share"> {{item.share}}</span>    
                                                </span>
                                            </div>
                                            <div class="comments" v-if="item.comments">
                                                <!-- 评论区 -->
                                                <div class="comment" v-for="(reply, dex) in item.replys" @mouseover="handleHover(reply, index, dex)" @mouseout="mouseOut(reply, index, dex)">
                                                    <span v-if="reply.from_user_name != reply.to_user_name">{{reply.from_user_name}}</span>
                                                    <span v-if="reply.from_user_name != reply.to_user_name">评论</span>
                                                    <span>{{reply.to_user_name}}</span>：
                                                    <span >{{reply.content}}</span>
                                                    <div class="popover" v-show="reply.show && user.username">
                                                        <div class="poparrow"></div>
                                                        <span @click="handleReply(reply)">回复</span>
                                                        <span @click="deleteReply(item.replys, reply, dex, item)" v-if="user.username == reply.from_user_name">删除</span>
                                                    </div>
                                                </div>
                                                <div class="comment_input">
                                                    <el-input class="input" v-model="input" :placeholder="placeholder"></el-input>
                                                    <el-button class="send" type="primary" plain @click="commitComment(index, item)">发送</el-button>
                                                </div>
                                            </div>
                                            
                                            </div>
                                    </el-col>
                                </el-row>
                            </div>
                        </el-tab-pane>
                        <el-tab-pane label="我关注的动态" name="mine">
                            <div class="twitter">
                                <el-row v-for="(item,index) in posts" class="content-row">
                                    <el-col :span="2" class="avatar-left">
                                        <img :src="item.avator" alt="" class="avatar">
                                    </el-col>
                                    <el-col :span="21" class="content-right">
                                        <div>
                                            <div class="arrow"></div>
                                            <div class="top">
                                                <span class="username">{{item.user_name}}</span>
                                                <span class="time">{{item.time}}</span>
                                            </div>
                                            <div class="post">
                                                <div class="post-title" v-if="item.post_title">{{item.post_title}}</div>
                                                <div class="post-content" v-if="item.post_content">{{item.post_content}}</div>
                                                <div class="images" v-if="item.post_photos">
                                                    <img v-for="image in item.post_photos" :src="image"></img>
                                                </div>
                                            </div>
                                            <div class="bottom">
                                                <span class="looks">
                                                    <span class="fa fa-tag"></span>
                                                    <span>{{item.subject_name}}</span>
                                                </span>
                                                <span class="tags">
                                                    <!-- <span v-if="item.look">浏览数{{item.look}}</span> -->
                                                    <span class="fa fa-heart heart" :style="item.style.heart" @click="showHeart(index, item)"> {{item.hearts}}</span>
                                                    <span class="fa fa-commenting comment"  @click="showComments(index, item)" > {{item.reply_num}}</span> 
                                                    <span class="fa fa-share share" :style="item.style.share"> {{item.share}}</span>    
                                                </span>
                                            </div>
                                            <div class="comments" v-if="item.comments">
                                                <!-- 评论区 -->
                                                <div class="comment" v-for="(reply, dex) in item.replys" @mouseover="handleHover(reply, index, dex)" @mouseout="mouseOut(reply, index, dex)">
                                                    <span v-if="reply.from_user_name != reply.to_user_name">{{reply.from_user_name}}</span>
                                                    <span v-if="reply.from_user_name != reply.to_user_name">评论</span>
                                                    <span>{{reply.to_user_name}}</span>：
                                                    <span >{{reply.content}}</span>
                                                    <div class="popover" v-show="reply.show && user.username">
                                                        <div class="poparrow"></div>
                                                        <span @click="handleReply(reply)">回复</span>
                                                        <span @click="deleteReply(item.replys, reply, dex, item)" v-if="user.username == reply.from_user_name">删除</span>
                                                    </div>
                                                </div>
                                                <div class="comment_input">
                                                    <el-input class="input" v-model="input" :placeholder="placeholder"></el-input>
                                                    <el-button class="send" type="primary" plain @click="commitComment(index, item)">发送</el-button>
                                                </div>
                                            </div>
                                            
                                            </div>
                                    </el-col>
                                </el-row>
                            </div>
                        </el-tab-pane>
                    </el-tabs>
                </div>
            </el-col>


            <!-- right -->
            <el-col :span='4'>
                <div class="right" v-if="isUser">
                    <el-row class="info">
                        <el-col :span="18" class="name">
                            <div class="username">
                                <span class="ztc">{{user.username}}</span>
                                <span>{{user.sign}}</span>
                            </div>
                        </el-col>
                        <el-col :span="6">
                                <span class="icon-dropdown">
                                    <i class="el-icon-arrow-down el-icon--right"></i>
                                </span>
                        </el-col>
                    </el-row>
                    <el-row>
                        <div class="list" v-for='item in list'>
                            <i :class="item.icon"></i>
                            <span>{{item.text}}</span>
                        </div>
                    </el-row>   
                </div>
                <div v-else class="right">
                    <el-row class="info">
                        <el-col :span="18" class="name">
                            <div class="name_login">
                                <span class="fa fa-user login"></span>
                                <a href="/login"><span>去登录</span></a>
                            </div>
                        </el-col>
                        <el-col :span="6">
                                <span class="icon-dropdown">
                                    <i class="el-icon-arrow-down el-icon--right"></i>
                                </span>
                        </el-col>
                    </el-row>
                </div>
                <div class="right" v-if="isUser">
                    <div class="my-ba">
                        <div class="ba-title">我关注的</div>
                        <div class="ba-content">
                            <div class="ba" v-for="item in bas">
                                <span v-if="item.isAttention" class="fa fa-star star"></span>
                                <span>{{item.subject_name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right" v-if="isUser">
                    <div class="my-ba">
                        <div class="ba-title">热门吧推荐</div>
                        <div class="ba-content">
                            <div class="ba" v-for="item in bas">
                                <span v-if="item.isAttention" class="fa fa-star star"></span>
                                <span>{{item.subject_name}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right" v-if="isUser">
                    <div class="abs">
                        <div class="abs-title">广告</div>
                    </div>
                </div>
            </el-col>
        </el-row>

        <!-- dialog -->
        <el-dialog title="发布帖子" :visible.sync="dialogFormVisible">
            <el-form :model="form" :rules="rules" ref="form" class="dialog-form">
                <el-form-item label="所属主题" label-width="80px">
                    <template>
                        <el-radio  @change="radioChange" v-model="form.radio" label="1">主题已经存在（在此主题下创建帖子）</el-radio>
                        <el-radio  @change="radioChange" v-model="form.radio" label="2">新建主题</el-radio>
                    </template>
                </el-form-item>

                <el-form-item label="主题名称" prop="subject" label-width="80px" v-if="form.radio == 1">
                        <el-select class="dialog-select" v-model="form.subject" placeholder="请选择">
                            <el-option
                                v-for="(item, index) in options"
                                :key="index"
                                :label="item.subject_name"
                                :value="item._id">
                            </el-option>
                        </el-select>
                </el-form-item>

                <el-form-item label="主题名称" prop="subject2" label-width="80px" v-if="form.radio == 2">
                    <el-input v-model="form.subject2" placeholder="请输入主题名称"></el-input>
                </el-form-item>
                <el-form-item label="主题描述" prop="desc" label-width="80px" v-if="form.radio == 2">
                    <el-input v-model="form.desc" placeholder="请输入主题描述"></el-input>
                </el-form-item>
            
                <el-form-item label="帖子标题" prop="title" label-width="80px">
                    <el-input v-model="form.title" placeholder="请输入帖子标题"></el-input>
                </el-form-item>
                <el-form-item label="帖子内容" label-width="80px">
                    <el-input
                        type="textarea"
                        :rows="4"
                        placeholder="请输入帖子内容"
                        v-model="form.content">
                    </el-input>
                </el-form-item>
                <el-form-item label="帖子图片" label-width="80px">
                    <el-upload
                        class="avatar-uploader dialog-upload"
                        :action="upload"
                        :show-file-list="false"
                        :on-success="handleUploadSuccess"
                        :before-upload="beforeUpload">
                        <div class="uploadimgs">
                            <!-- <img :src="image" class="avatar2"> -->
                            <i class="el-icon-plus avatar-uploader-icon"></i>
                        </div>
                      </el-upload>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="handleCancle('form')">取 消</el-button>
                <el-button type="primary" @click="handlePost('form')">确 定</el-button>
            </div>
        </el-dialog>
    </div>
</body>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- 先引入 Vue -->
<script src="https://cdn.bootcss.com/vue/2.5.13/vue.js"></script>
<script src="https://cdn.bootcss.com/vue-resource/1.3.4/vue-resource.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function() {
            return {
                // 搜索
                search: '',
                // 导航条
                activeIndex: '1',
                // 二级菜单
                menus: [
                    {
                        icon: 'fa-plus-square-o',
                        text: '发布吧贴',
                        subjectId:'subjectId'
                    },
                    {
                        icon: 'fa-object-group',
                        text: '乡情校谊',
                        subjectId:'subjectId'
                    },
                    {
                        icon: 'fa-shopping-basket',
                        text: '二手集市',
                        subjectId:'subjectId'
                    },
                    {
                        icon: 'fa-graduation-cap',
                        text: '学霸论区',
                        subjectId:'subjectId'
                    },
                    {
                        icon: 'fa-music',
                        text: '知音',
                        subjectId:'subjectId'
                    },
                    {
                        icon: 'fa-navicon',
                        text: '更多',
                        subjectId:'subjectId'
                    }
                ],
                // 帖子内容
                posts: [
                ],
                // 右侧个人信息
                list: [
                    {
                        icon: 'fa fa-pencil-square-o',
                        text: '账号设置'
                    },
                    {
                        icon: 'fa fa-star-o',
                        text: '我的关注'
                    },
                    {
                        icon: 'fa fa-sticky-note-o',
                        text: '我的帖子'
                    },
                    {
                        icon: 'fa fa-bullhorn',
                        text: '系统通知'
                    },
                    {
                        icon: 'fa fa-envelope-o',
                        text: '个人私信'
                    },{
                        icon: 'fa fa-lightbulb-o',
                        text: '帮助和反馈'
                    },{
                        icon: 'fa fa-power-off',
                        text: '退出'
                    },
                ],
                form: {
                    title: '',
                    content: '',
                    radio: '1',
                    subject: '',
                    images: [],
                    subject2: '',
                    desc: ''
                },
                // 下拉
                options: [
                ],
                image: '',
                images: [],
                imageVisible: false,
                dialogFormVisible: false,
                rules: {
                    subject:[
                        {
                            required: true,
                            message: '请填写主题名称',
                            trigger: 'blur'
                        }
                    ],
                    title:[
                        {
                            required: true,
                            message: '请填写帖子名称',
                            trigger: 'blur'
                        }
                    ],
                    subject2: [
                    {
                            required: true,
                            message: '请填写主题名称',
                            trigger: 'blur'
                        }
                    ]
                },
                upload: '/imageUpload',
                start: 0,
                // 个人信息
                user: {},
                isUser: false,
                input: '',
                heartsPosts: [],
                placeholder: '请输入内容',
                reply: {},
                tabName: 'all',
                bas: [
                    {
                        isAttention: true,
                        subject_name: '吧名称',
                        subject_id:''
                    },
                    {
                        isAttention: true,
                        subject_name: '吧名称',
                        subject_id:''
                    },
                    {
                        isAttention: true,
                        subject_name: '吧名称',
                        subject_id:''
                    }
                ]
            }
        },
        created () {
            // 下拉
            this.initSelect()
            // 下拉刷新
            window.addEventListener("scroll", this.handleScroll)
            // 个人信息
            this.initUser()
            this.initHeart()
        },
        watch: {
            dialogFormVisible (value) {
                if (!value){
                    this.form = {
                        radio: '1'
                    }
                }
            }
        },
        methods: {
            // 请求post帖子  每次请求10条数据
            initPost (start, limit) {
                if (start == 0) {
                    this.posts = []
                }
                var _this = this
                this.start += 10
                this.handleAjax("/getPosts", 'get', {start: start, limit:limit}, function(data){
                    if (data == '0') {
                        return
                    } else {
                        var posts = JSON.parse(data)
                        // 评论框隐藏
                        posts.forEach((value, index, array) => {
                            value.comments = false
                            value.replys = []
                            value.style = {
                                heart: {
                                    color: '#bdbdbd'
                                },
                                share: {
                                    color: '#bdbdbd'
                                }
                            }
                            if (_this.heartsPosts.indexOf(value._id) >= 0){
                                value.style.heart.color = "#f4630b"
                            }
                        })
                        _this.posts = _this.posts.concat(posts)
                    }
                })
            },
            // 下拉框请求数据
            initSelect() {
                var _this = this
                this.handleAjax('/selectOptions', 'get', {}, function(data){
                    var jsonArray = JSON.parse(data)
                    _this.options = jsonArray
                    // console.log(_this.options)
                })
            },
            // 个人信息请求
            initUser () {
                var _this = this
                this.handleAjax("/userInfo", 'get', {}, function(data){
                    if (data == '0') {
                        // 未注册
                        _this.isUser = false
                        _this.$message.error("sorry,您还未注册哦")
                    }else if (data == '1'){
                        // 未登录
                        _this.isUser = false
                        _this.$notify.info({
                            title: '消息',
                            message: '您还没有登录哦',
                            duration: 0
                        });
                    } else {
                        //  查询成功
                        _this.isUser = true
                        _this.user = JSON.parse(data)
                    }
                })
            },
            // 用户是否已经点赞
            initHeart(){
                var _this = this
                _this.handleAjax("/isHeart", "get", {}, function(data){
                    if(data == "0"){
                        _this.heartsPosts = []
                        _this.initPost(0, 10)
                    }else {
                        _this.heartsPosts = JSON.parse(data)
                        _this.initPost(0, 10)
                    }
                })
            },
            // 下拉
            handleSelect: function(key, keyPath){
                console.log(key, keyPath)
            },
            // 点击menu
            handleClick(item,index) {
                // 发布贴吧
                if (index == 0) {
                    this.dialogFormVisible = true
                } else if(index == 5) {
                    window.location.href = "/subjectList"
                } else {
                    window.location.href = "/subject?subjectId=" + item.subjectId

                }
            },
            // 上传图片
            handleUploadSuccess(res, file) {
                if (res != 0) {
                    var index = res.indexOf("postImages")
                    this.image = res.slice(index+10)
                    this.images.push(this.image)
                    // 创建元素
                    $img = $("<img src=\" " + this.image + " \" style='width: 178px;height: 178px;display: inline-block;'>")
                    $(".uploadimgs").append($img)
                }
                
            },
            beforeUpload(file) {
                const isLt2M = file.size / 1024 / 1024 < 2;
        
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2MB!');
                }
                return isLt2M
            },
            // ajax请求
            handleAjax (url, method, data, handleSuccess) {
                $.ajax({
                    url: url,
                    type: method,
                    data: data,
                    cache:false,
                    success: handleSuccess,
                    error: function(err){
                        console.log(err)
                    }
                })
            },
            // 提交表单
            handlePost(form) {
                var _this = this
                this.$refs[form].validate((valid) => {
                    if (valid) {
                        this.dialogFormVisible = false
                        _this.form.images = this.images
                        // console.log(_this.form)
                        _this.handleAjax('/submitPost', 'post', _this.form, function(data){
                            console.log(data)
                            if(data == '0') {
                                _this.$message.error("您还未登录, 请先登录再发布吧贴吧！")
                            } else if (data == '2'){
                                _this.$message.error("soory, 发布失败")
                            }else{
                                var post = JSON.parse(data)
                                // _this.posts.splice(0, 0, post)
                                _this.initPost(0, 10)
                            }
                        })
                    } else {
                        return false;
                    }
                });
            },
            // 取消表单
            handleCancle(){
                this.dialogFormVisible = false
            },
            radioChange(value) {
                this.form = {
                    radio: value
                }
            },
            // 下拉刷新
            handleScroll () {
                if ($(window).scrollTop() >= $(document).height()-$(window).height()){
                    this.initPost(this.start, 10)
                }
            },
            // 展示评论框
            showComments(index, item){
                // 请求评论
                if (item.comments == false) {
                    var _this = this
                    _this.handleAjax('/getComments', 'get', {
                        post_id: item._id
                    }, function(data){
                        if (data != 0) {
                            item.replys = JSON.parse(data).replys
                            item.replys.forEach((value, index, array) => {
                                value.show = false
                            })
                        }
                        _this.posts[index].comments = true
                    })
                } else {
                    this.posts[index].comments = false
                }
            },
            // 提交评论
            commitComment (index, item) {
                if(!this.isUser){
                    this.$message({
                        message: 'oh my god，你还没登陆哇,那就不能评论了',
                        type: 'warning'
                    });
                    return
                }
                // info  posts  reply 三个数据库更改
                var _this = this
                var to_user_name = ""
                // console.log(this.placeholder)
                if (this.placeholder == '请输入内容'){
                    to_user_name = item.user_name
                }else {
                    to_user_name = this.reply.from_user_name
                }
                this.handleAjax("/commitComment", 'post',{
                    post_id: item._id,
                    content: _this.input,
                    post_user_name: to_user_name
                }, function(data){
                    if (data == 1) {
                        _this.input = ""
                        // 评论需要刷新
                        _this.handleAjax('/getComments', 'get', {
                            post_id: item._id
                        }, function(data){
                            if (data != 0) {
                                item.replys = JSON.parse(data).replys
                                item.replys.forEach((value, index, array) => {
                                    value.show = false
                                })
                                item.reply_num += 1
                            }
                        })
                    }
                })
            },
            // 赞
            showHeart(index, item){
                if(!this.isUser){
                    this.$message({
                        message: 'oh my god，你还没登陆哇,那就不能点赞了',
                        type: 'warning'
                    });
                    return
                }
                if (item.style.heart.color == '#f4630b'){
                    item.style.heart = {
                        color: '#bfbfbf'
                    }
                    item.hearts -= 1
                    this.showHeartFun({
                        post_id: item._id,
                        tag: -1
                    })
                }else {
                    item.style.heart = {
                        color: '#f4630b'
                    }
                    item.hearts += 1
                    this.showHeartFun({
                        post_id: item._id,
                        tag: 1
                    })
                }
            },
            showHeartFun (data) {
                var _this = this
                _this.handleAjax("/giveHeart", 'get', data, function(data){
                    console.log("点赞成功")
                })
            },
            // 回复
            handleReply(reply){
                // console.log(dex, reply)
                if(!this.isUser){
                    this.$message({
                        message: 'oh my god，你还没登陆哇,那就不能评论了',
                        type: 'warning'
                    });
                    return
                }
                this.reply = reply
                this.placeholder = "回复" + reply.from_user_name
                console.log(reply.from_user_name)
            },
            // 回复删除
            handleHover(reply, index, dex) {
                this.handleMouse(reply, index, dex, true)
            },
            // 鼠标mouseover
            mouseOut(reply, index, dex){
                this.handleMouse(reply, index, dex, false)
            },
            handleMouse(reply, index, dex, flag){
                var replysCopy = []
                this.posts[index].replys.forEach((value, i) => {
                    if (i == dex){
                        var replyCopy = {
                            time: reply.time,
                            from_user_name: reply.from_user_name,
                            to_user_name: reply.to_user_name,
                            content: reply.content,
                            show: flag
                        }
                        replysCopy.push(replyCopy)
                    }else{
                        replysCopy.push(value)
                    }
                })
                this.posts[index].replys = replysCopy
            },
            // 删除回复
            deleteReply(replys, reply, dex, item){
                replys.splice(dex, 1)
                reply.post_id = item._id
                this.handleAjax("/deleteReply", 'post', reply, function(data){
                    if (data == 1) {
                        item.reply_num -= 1
                    }
                })
            },
            // tab change
            tabClick(val){
                if (val.name == 'all'){
                    this.initHeart()
                } else{
                    this.getUserSubject()
                }
            },
            // 获取到用户的关注的贴吧帖子
            getUserSubject () {
                this.posts = []
                if (!this.isUser){
                    this.$message({
                        message: '还没登陆哇',
                        type: 'warning'
                    })
                    return
                }
                var _this = this
                this.handleAjax("/getUserSubjects", "post",{},function(data){
                    data = JSON.parse(data)
                    data.forEach((value, index, array) => {
                        value.comments = false
                        value.replys = []
                        value.style = {
                            heart: {
                                color: '#bdbdbd'
                            },
                            share: {
                                color: '#bdbdbd'
                            }
                        }
                        if (_this.heartsPosts.indexOf(value._id) >= 0){
                            value.style.heart.color = "#f4630b"
                        }
                    })
                    _this.posts = data
                })
            }

        }
    })
</script>
</html>
