<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>社区话题</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/community.css">
</head>

<body>
    <div id="app">
        <!--菜单导航-->
        <el-menu :default-active="activeIndex" class="el-menu-demo menu-padding" mode="horizontal" @select="handleSelect" background-color="#f4630b" text-color="#fff" active-text-color="#ffd04b">
            <el-menu-item index="0"><a href="/">首页</a></el-menu-item>
            <el-menu-item index="1"><a href="/community">校论区</a></el-menu-item>
            <el-menu-item index="2"><a href="/life">生活休闲</a></el-menu-item>
            <el-menu-item index="3"><a href="/whiteWall">表白墙</a></el-menu-item>
            <el-submenu index="4">
                <template slot="title">我的</template>
                <el-menu-item index="4"><a href="/mine?index=4" class="sub-menu">账号设置</a></el-menu-item>
                <el-menu-item index="5"><a href="/mine?index=5" class="sub-menu">动态</a></el-menu-item>
                <el-menu-item index="6"><a href="/mine?index=6" class="sub-menu">我的消息</a></el-menu-item>
                <el-menu-item index="7"><a href="/mine?index=7" class="sub-menu">我的关注</a></el-menu-item>
                <el-menu-item index="8"><a href="/mine?index=8" class="sub-menu">我的吧</a></el-menu-item>
                <el-menu-item index="9"><a href="/mine?index=9" class="sub-menu">帮助和反馈</a></el-menu-item>
                <el-menu-item index="10" @click="exit">退出</el-menu-item>
            </el-submenu>
            <div class="search-menu">
                <el-input class="search" placeholder="请输入内容" v-model="search" clearable>
                </el-input>
                <i class="el-icon-search search-icon"></i>
            </div>
            <div class="extenal" v-if="!isUser">
                <a href="/login">登录</a>
                <a href="/register">注册</a>
            </div>
        </el-menu>

        <el-row>
            <!-- left -->
            <el-col :span='12' :offset='4'>
                <div class="left">
                    <!-- menu -->
                    <div class="content">
                        <div class="sub-content" v-for="(item, index) in menus" @click="handleClick(item,index)">
                            <i :class="'fa ' + item.class"></i>
                            <div v-if="item.subject_name" class="text">{{item.subject_name}}</div>
                        </div>
                    </div>
                    <!-- 内容 -->
                    <el-tabs type="border-card" v-model="tabName" @tab-click="tabClick">
                        <el-tab-pane label="全部动态" name="all">
                            <div class="twitter">
                                <el-row v-for="(item,index) in posts" class="content-row">
                                    <el-col :span="2" class="avatar-left">
                                        <img :src="item.avator" alt="" class="avatar" @click="showChat(item)">
                                    </el-col>
                                    <el-col :span="21" class="content-right">
                                        <div>
                                            <div class="arrow"></div>
                                            <div class="top">
                                                <span class="username">{{item.user_name}}</span>
                                                <span class="time">{{item.time}}</span>
                                            </div>
                                            <div class="post">
                                                <div class="post-title" v-if="item.post_title">{{item.post_title}}</div>
                                                <div class="post-content" v-if="item.post_content">{{item.post_content}}</div>
                                                <div class="images" v-if="item.post_photos">
                                                    <img @click="showImage(image)" v-for="image in item.post_photos" :src="image"></img>
                                                </div>
                                            </div>
                                            <div class="bottom">
                                                <span class="looks">
                                                    <span class="fa fa-tag"></span>
                                                <span>{{item.subject_name}}</span>
                                                </span>
                                                <span class="tags">
                                                    <!-- <span v-if="item.look">浏览数{{item.look}}</span> -->
                                                <span class="fa fa-heart heart" :style="item.style.heart" @click="showHeart(index, item)"> {{item.hearts}}</span>
                                                <span class="fa fa-commenting comment" @click="showComments(index, item)"> {{item.reply_num}}</span>
                                                <span class="fa fa-share share" :style="item.style.share"> {{item.share}}</span>
                                                </span>
                                            </div>
                                            <div class="comments" v-if="item.comments">
                                                <!-- 评论区 -->
                                                <div class="comment" v-for="(reply, dex) in item.replys" @mouseover="handleHover(reply, index, dex)" @mouseout="mouseOut(reply, index, dex)">
                                                    <span v-if="reply.from_user_name != reply.to_user_name">{{reply.from_user_name}}</span>
                                                    <span v-if="reply.from_user_name != reply.to_user_name">评论</span>
                                                    <span>{{reply.to_user_name}}</span>：
                                                    <span>{{reply.content}}</span>
                                                    <div class="popover" v-show="reply.show && user.username">
                                                        <div class="poparrow"></div>
                                                        <span @click="handleReply(reply)">回复</span>
                                                        <span @click="deleteReply(item.replys, reply, dex, item)" v-if="user.username == reply.from_user_name">删除</span>
                                                    </div>
                                                </div>
                                                <div class="comment_input">
                                                    <el-input class="input" v-model="input" :placeholder="placeholder"></el-input>
                                                    <el-button class="send" type="primary" plain @click="commitComment(index, item)">发送</el-button>
                                                </div>
                                            </div>

                                        </div>
                                    </el-col>
                                </el-row>
                            </div>
                        </el-tab-pane>
                        <input type="hidden" id="closeChat" value="" @click="closeChat">
                        <input type="hidden" id="username_id" value="">
                        <el-tab-pane label="我关注的动态" name="mine">
                            <div class="twitter">
                                <el-row v-for="(item,index) in posts" class="content-row">
                                    <el-col :span="2" class="avatar-left">
                                        <img :src="item.avator" alt="" class="avatar" @click="showChat(item)">
                                    </el-col>
                                    <el-col :span="21" class="content-right">
                                        <div>
                                            <div class="arrow"></div>
                                            <div class="top">
                                                <span class="username">{{item.user_name}}</span>
                                                <span class="time">{{item.time}}</span>
                                            </div>
                                            <div class="post">
                                                <div class="post-title" v-if="item.post_title">{{item.post_title}}</div>
                                                <div class="post-content" v-if="item.post_content">{{item.post_content}}</div>
                                                <div class="images" v-if="item.post_photos">
                                                    <img v-for="image in item.post_photos" :src="image"></img>
                                                </div>
                                            </div>
                                            <div class="bottom">
                                                <span class="looks">
                                                    <span class="fa fa-tag"></span>
                                                <span>{{item.subject_name}}</span>
                                                </span>
                                                <span class="tags">
                                                    <!-- <span v-if="item.look">浏览数{{item.look}}</span> -->
                                                <span class="fa fa-heart heart" :style="item.style.heart" @click="showHeart(index, item)"> {{item.hearts}}</span>
                                                <span class="fa fa-commenting comment" @click="showComments(index, item)"> {{item.reply_num}}</span>
                                                <span class="fa fa-share share" :style="item.style.share"> {{item.share}}</span>
                                                </span>
                                            </div>
                                            <div class="comments" v-if="item.comments">
                                                <!-- 评论区 -->
                                                <div class="comment" v-for="(reply, dex) in item.replys" @mouseover="handleHover(reply, index, dex)" @mouseout="mouseOut(reply, index, dex)">
                                                    <span v-if="reply.from_user_name != reply.to_user_name">{{reply.from_user_name}}</span>
                                                    <span v-if="reply.from_user_name != reply.to_user_name">评论</span>
                                                    <span>{{reply.to_user_name}}</span>：
                                                    <span>{{reply.content}}</span>
                                                    <div class="popover" v-show="reply.show && user.username">
                                                        <div class="poparrow"></div>
                                                        <span @click="handleReply(reply)">回复</span>
                                                        <span @click="deleteReply(item.replys, reply, dex, item)" v-if="user.username == reply.from_user_name">删除</span>
                                                    </div>
                                                </div>
                                                <div class="comment_input">
                                                    <el-input class="input" v-model="input" :placeholder="placeholder"></el-input>
                                                    <el-button class="send" type="primary" plain @click="commitComment(index, item)">发送</el-button>
                                                </div>
                                            </div>

                                        </div>
                                    </el-col>
                                </el-row>
                            </div>
                        </el-tab-pane>
                    </el-tabs>
                </div>
            </el-col>


            <!-- right -->
            <el-col :span='4'>
                <div class="right" v-if="isUser">
                    <el-row class="info">
                        <el-col :span="18" class="name">
                            <div class="username">
                                <span class="ztc">{{user.username}}</span>
                                <span>{{user.sign}}</span>
                            </div>
                        </el-col>
                        <el-col :span="6">
                            <span class="icon-dropdown" @click="showList">
                                <i class="el-icon-arrow-down el-icon--right"></i>
                            </span>
                        </el-col>
                    </el-row>
                    <el-row>
                        <div class="list" v-if="listIsShow" v-for='(item,index) in list' @click="toMine(item, index)">
                            <i :class="item.icon"></i>
                            <span>{{item.text}}</span>
                        </div>
                    </el-row>
                </div>
                <div v-else class="right">
                    <el-row class="info">
                        <el-col :span="18" class="name">
                            <div class="name_login">
                                <span class="fa fa-user login"></span>
                                <a href="/login"><span>去登录</span></a>
                            </div>
                        </el-col>
                        <el-col :span="6">
                            <span class="icon-dropdown">
                                    <i class="el-icon-arrow-up el-icon--right"></i>
                                </span>
                        </el-col>
                    </el-row>
                </div>

                <!-- 热门推荐 -->
                <div class="right">
                    <div class="my-ba">
                        <div class="ba-title">热门吧推荐 <span @click="refresh" class="fa fa-refresh">换一批</span> </div>
                        <div class="ba-content">
                            <div class="hotba" v-for="(item, index) in hotbas" @click.stop="toSubject(item)">
                                <img :src="item.subject_image">
                                <div class="hotba_info">
                                    <div>{{item.subject_name}}</div>
                                    <div class="subejct_desc"><span> {{item.post_num}} </span>篇帖子 . <span> {{item.follow_user.length}} </span>人关注</div>
                                </div>
                                <div class="hot-follow" v-if="item.isAttention">已关注</div>
                                <div class="hot-follow" v-else @click.stop="joinSubject(item, index)">+ 关注</div>
                            </div>
                        </div>
                        <div class="look_all" @click="showSubjectList">查看全部</div>
                    </div>
                </div>

                <!-- 我关注的 -->
                <div class="right" v-if="isUser">
                    <div class="my-ba">
                        <div class="ba-title">我关注的</div>
                        <div class="ba-content" v-if="bas.length != 0">
                            <div class="ba" v-for="item in bas">
                                <span v-if="item.isAttention" class="fa fa-star star"></span>
                                <span>{{item.subject_name}}</span>
                            </div>
                        </div>
                        <div class="ba-content noguan" v-else>您还没有任何关注，快去关注吧</div>
                    </div>
                </div>



                <!-- <div class="right" v-if="isUser">
                    <div class="abs">
                        <div class="abs-title">广告</div>
                    </div>
                </div> -->
            </el-col>
        </el-row>

        <!-- dialog -->
        <el-dialog title="发布帖子" :visible.sync="dialogFormVisible">
            <el-form :model="form" :rules="rules" ref="form" class="dialog-form">
                <el-form-item label="所属主题" label-width="80px">
                    <template>
                        <el-radio  @change="radioChange" v-model="form.radio" label="1">主题已经存在（在此主题下创建帖子）</el-radio>
                        <el-radio  @change="radioChange" v-model="form.radio" label="2">新建主题</el-radio>
                    </template>
                </el-form-item>

                <el-form-item label="主题名称" prop="subject" label-width="80px" v-if="form.radio == 1">
                    <el-select class="dialog-select" v-model="form.subject" placeholder="请选择">
                        <el-option v-for="(item, index) in options" :key="index" :label="item.subject_name" :value="item._id">
                        </el-option>
                    </el-select>
                </el-form-item>

                <el-form-item label="主题名称" prop="subject2" label-width="80px" v-if="form.radio == 2">
                    <el-input v-model="form.subject2" placeholder="请输入主题名称"></el-input>
                </el-form-item>
                <el-form-item label="主题描述" prop="desc" label-width="80px" v-if="form.radio == 2">
                    <el-input v-model="form.desc" placeholder="请输入主题描述"></el-input>
                </el-form-item>

                <el-form-item label="帖子标题" prop="title" label-width="80px">
                    <el-input v-model="form.title" placeholder="请输入帖子标题"></el-input>
                </el-form-item>
                <el-form-item label="帖子内容" label-width="80px">
                    <el-input type="textarea" :rows="4" placeholder="请输入帖子内容" v-model="form.content">
                    </el-input>
                </el-form-item>
                <el-form-item label="帖子图片" label-width="80px">
                    <el-upload class="avatar-uploader dialog-upload" :action="upload" :show-file-list="false" :on-success="handleUploadSuccess" :before-upload="beforeUpload">
                        <div class="uploadimgs">
                            <!-- <img :src="image" class="avatar2"> -->
                            <i class="el-icon-plus avatar-uploader-icon"></i>
                        </div>
                    </el-upload>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="handleCancle('form')">取 消</el-button>
                <el-button type="primary" @click="handlePost('form')">确 定</el-button>
            </div>
        </el-dialog>

        <iframe width="370" height="600" name=aa frameborder=0 src="" class="chat">
        </iframe>

        <div class="g-ft">
            <div class="m-ft2">
                <a target="_blank" rel="nofollow" href="/">首页</a>
                <span>|</span>
                <a target="_blank" rel="nofollow" href="/">社区话题</a>
                <span>|</span>
                <a target="_blank" rel="nofollow" href="/">休闲区</a>
                <span>|</span>
                <a target="_blank" rel="nofollow" href="/">表白墙</a>
                <span>|</span>
                <a target="_blank" rel="nofollow" href="/">个人主页</a></div>
            <div style="margin-top:10px;">ztchun版权所有　&copy;2017 - 2018　校园社区
            </div>
        </div>

        <div class="mask" v-show="mask">
            <img @click="hideImage" :src="thisImage" alt="">
        </div>

    </div>
</body>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- 先引入 Vue -->
<script src="https://cdn.bootcss.com/vue/2.5.13/vue.js"></script>
<script src="https://cdn.bootcss.com/vue-resource/1.3.4/vue-resource.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function() {
            return {
                // 搜索
                search: '',
                // 导航条
                activeIndex: '1',
                // 二级菜单
                menus: [{
                    class: 'fa-plus-square-o',
                    subject_name: '发布吧贴',
                    subjectId: 'subjectId'
                }, {
                    class: 'fa-navicon',
                    subject_name: '更多',
                    subjectId: 'subjectId'
                }],
                // 帖子内容
                posts: [],
                // 右侧个人信息
                list: [{
                    icon: 'fa fa-pencil-square-o',
                    text: '账号设置',
                    link: '/mine?index=4'
                }, {
                    icon: 'fa fa-bookmark-o',
                    text: '我的动态',
                    link: '/mine?index=5'
                }, {
                    icon: 'fa fa-star-o',
                    text: '我的消息',
                    link: '/mine?index=6'
                }, {
                    icon: 'fa fa-sticky-note-o',
                    text: '我的关注',
                    link: '/mine?index=7'
                }, {
                    icon: 'fa fa-bullhorn',
                    text: '我的吧',
                    link: '/mine?index=8'
                }, {
                    icon: 'fa fa-lightbulb-o',
                    text: '帮助和反馈'
                }, {
                    icon: 'fa fa-power-off',
                    text: '退出'
                }, ],
                form: {
                    title: '',
                    content: '',
                    radio: '1',
                    subject: '',
                    images: [],
                    subject2: '',
                    desc: ''
                },
                // 下拉
                options: [],
                image: '',
                images: [],
                imageVisible: false,
                dialogFormVisible: false,
                rules: {
                    subject: [{
                        required: true,
                        message: '请填写主题名称',
                        trigger: 'blur'
                    }],
                    title: [{
                        required: true,
                        message: '请填写帖子名称',
                        trigger: 'blur'
                    }],
                    subject2: [{
                        required: true,
                        message: '请填写主题名称',
                        trigger: 'blur'
                    }]
                },
                upload: '/imageUpload',
                start: 0,
                // 个人信息
                user: {},
                isUser: false,
                input: '',
                heartsPosts: [],
                placeholder: '请输入内容',
                reply: {},
                tabName: 'all',
                bas: [],
                hotbas: [],
                infos: [],
                chatContent: '',
                listIsShow: true,
                thisImage: '',
                mask: false
            }
        },
        created() {
            // 下拉
            this.initSelect()
                // 下拉刷新
            window.addEventListener("scroll", this.handleScroll)
                // 个人信息
            this.initUser()
            this.initHeart()
        },
        watch: {
            dialogFormVisible(value) {
                if (!value) {
                    this.form = {
                        radio: '1'
                    }
                }
            }
        },
        methods: {
            // 请求post帖子  每次请求10条数据
            initPost(start, limit) {
                if (start == 0) {
                    this.posts = []
                }
                var _this = this
                this.start += 10
                this.handleAjax("/getPosts", 'get', {
                    start: start,
                    limit: limit
                }, function(data) {
                    if (data == '0') {
                        return
                    } else {
                        var posts = JSON.parse(data)
                            // 评论框隐藏
                        posts.forEach((value, index, array) => {
                                value.comments = false
                                value.replys = []
                                value.style = {
                                    heart: {
                                        color: '#bdbdbd'
                                    },
                                    share: {
                                        color: '#bdbdbd'
                                    }
                                }
                                if (_this.heartsPosts.indexOf(value._id) >= 0) {
                                    value.style.heart.color = "#f4630b"
                                }
                            })
                            // _this.posts.sort(_this.compare('time'))
                        _this.posts = _this.posts.concat(posts)
                    }
                })
            },
            // 下拉框请求数据
            initSelect() {
                var _this = this
                this.handleAjax('/selectOptions', 'get', {}, function(data) {
                    var jsonArray = JSON.parse(data)
                    _this.options = jsonArray
                        // console.log(_this.options)
                })
            },
            // 个人信息请求
            initUser() {
                var _this = this
                this.handleAjax("/userInfo", 'get', {}, function(data) {
                    if (data == '0') {
                        // 未注册
                        _this.isUser = false
                        _this.$message.error("sorry,您还未注册哦")
                    } else if (data == '1') {
                        // 未登录
                        _this.isUser = false
                            // _this.$notify.info({
                            //     title: '消息',
                            //     message: '您还没有登录哦',
                            //     duration: 0
                            // });
                        _this.initSubjects()
                    } else {
                        //  查询成功
                        _this.isUser = true
                        _this.user = JSON.parse(data)
                        _this.initSubjects()
                    }
                })
            },
            // 用户是否已经点赞
            initHeart() {
                var _this = this
                _this.handleAjax("/isHeart", "get", {}, function(data) {
                    if (data == "0") {
                        _this.heartsPosts = []
                        _this.initPost(0, 10)
                    } else {
                        _this.heartsPosts = JSON.parse(data)
                        _this.initPost(0, 10)
                    }
                })
            },
            // 获取关注的吧
            initSubjects() {
                var _this = this
                this.handleAjax("/initSubjects", "get", {}, function(data) {
                    var result = JSON.parse(data)
                    result.forEach((value, index) => {
                            value.follow_num = value.follow_user.length
                            if (parseInt(value.follow_num) == 0) {
                                value.isAttention = false
                            } else {
                                value.isAttention = false
                                value.follow_user.forEach((value2, index2) => {
                                    if (value2.user_name == _this.user.username) {
                                        value.isAttention = true
                                            // 我关注的吧
                                        _this.bas.push(value)
                                    }
                                })
                            }
                        })
                        // 热门吧推荐
                    var result2 = result.slice(0)
                    result2.forEach((value, index) => {
                        let follow_num = value.follow_num
                        let post_num = value.post_num
                        value.num = follow_num * 0.5 + post_num * 0.5
                    })
                    result2.sort(_this.compare('num'))
                    _this.hotbas = result2.slice(0, 100)
                    _this.hotbas = _this.getArrayItems(_this.hotbas, 5)
                        // menu吧
                    var result3 = result.slice(0)
                    result3.forEach((value, index) => {
                        if (value.tag == 1) {
                            _this.menus.splice(1, 0, value)
                        }
                    })
                    console.log(_this.menus)
                })
            },
            compare(prop) {
                return function(obj1, obj2) {
                    var value1 = obj1[prop]
                    var value2 = obj2[prop]
                    if (value1 > value2) {
                        return -1
                    } else if (value1 < value2) {
                        return 1
                    } else {
                        return 0
                    }
                }
            },
            // 下拉
            handleSelect: function(key, keyPath) {
                console.log(key, keyPath)
            },
            // 点击menu
            handleClick(item, index) {
                // 发布贴吧
                if (index == 0) {
                    this.dialogFormVisible = true
                } else if (index == 5) {
                    window.location.href = "/subjectList"
                } else {
                    window.location.href = "/subject?subjectId=" + item._id
                }
            },
            // 上传图片
            handleUploadSuccess(res, file) {
                if (res != 0) {
                    var index = res.indexOf("postImages")
                    this.image = res.slice(index + 10)
                    this.images.push(this.image)
                        // 创建元素
                    $img = $("<img src=\" " + this.image + " \" style='width: 178px;height: 178px;display: inline-block;'>")
                    $(".uploadimgs").append($img)
                }

            },
            beforeUpload(file) {
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2MB!');
                }
                return isLt2M
            },
            // ajax请求
            handleAjax(url, method, data, handleSuccess) {
                $.ajax({
                    url: url,
                    type: method,
                    data: data,
                    cache: false,
                    success: handleSuccess,
                    error: function(err) {
                        console.log(err)
                    }
                })
            },
            // 提交表单
            handlePost(form) {
                var _this = this
                this.$refs[form].validate((valid) => {
                    if (valid) {
                        this.dialogFormVisible = false
                        _this.form.images = this.images
                            // console.log(_this.form)
                        _this.handleAjax('/submitPost', 'post', _this.form, function(data) {
                            console.log(data)
                            if (data == '0') {
                                _this.$message.error("您还未登录, 请先登录再发布吧贴吧！")
                            } else if (data == '2') {
                                _this.$message.error("soory, 发布失败")
                            } else {
                                var post = JSON.parse(data)
                                    // _this.posts.splice(0, 0, post)
                                _this.initPost(0, 10)
                            }
                        })
                    } else {
                        return false;
                    }
                });
            },
            // 取消表单
            handleCancle() {
                this.dialogFormVisible = false
            },
            radioChange(value) {
                this.form = {
                    radio: value
                }
            },
            // 下拉刷新
            handleScroll() {
                if ($(window).scrollTop() >= $(document).height() - $(window).height()) {
                    this.initPost(this.start, 10)
                }
            },
            // 展示评论框
            showComments(index, item) {
                // 请求评论
                if (item.comments == false) {
                    var _this = this
                    _this.handleAjax('/getComments', 'get', {
                        post_id: item._id
                    }, function(data) {
                        if (data != 0) {
                            item.replys = JSON.parse(data).replys
                            item.replys.forEach((value, index, array) => {
                                value.show = false
                            })
                        }
                        _this.posts[index].comments = true
                    })
                } else {
                    this.posts[index].comments = false
                }
            },
            // 提交评论
            commitComment(index, item) {
                if (!this.isUser) {
                    this.$message({
                        message: 'oh my god，你还没登陆哇,那就不能评论了',
                        type: 'warning'
                    });
                    return
                }
                // info  posts  reply 三个数据库更改
                var _this = this
                var to_user_name = ""
                    // console.log(this.placeholder)
                if (this.placeholder == '请输入内容') {
                    to_user_name = item.user_name
                } else {
                    to_user_name = this.reply.from_user_name
                }
                this.handleAjax("/commitComment", 'post', {
                    post_id: item._id,
                    content: _this.input,
                    post_user_name: to_user_name
                }, function(data) {
                    if (data == 1) {
                        _this.input = ""
                            // 评论需要刷新
                        _this.handleAjax('/getComments', 'get', {
                            post_id: item._id
                        }, function(data) {
                            if (data != 0) {
                                item.replys = JSON.parse(data).replys
                                item.replys.forEach((value, index, array) => {
                                    value.show = false
                                })
                                item.reply_num += 1
                            }
                        })
                    }
                })
            },
            // 赞
            showHeart(index, item) {
                if (!this.isUser) {
                    this.$message({
                        message: 'oh my god，你还没登陆哇,那就不能点赞了',
                        type: 'warning'
                    });
                    return
                }
                if (item.style.heart.color == '#f4630b') {
                    item.style.heart = {
                        color: '#bfbfbf'
                    }
                    item.hearts -= 1
                    this.showHeartFun({
                        post_id: item._id,
                        tag: -1
                    })
                } else {
                    item.style.heart = {
                        color: '#f4630b'
                    }
                    item.hearts += 1
                    this.showHeartFun({
                        post_id: item._id,
                        tag: 1
                    })
                }
            },
            showHeartFun(data) {
                var _this = this
                _this.handleAjax("/giveHeart", 'get', data, function(data) {
                    console.log("点赞成功")
                })
            },
            // 回复
            handleReply(reply) {
                // console.log(dex, reply)
                if (!this.isUser) {
                    this.$message({
                        message: 'oh my god，你还没登陆哇,那就不能评论了',
                        type: 'warning'
                    });
                    return
                }
                this.reply = reply
                this.placeholder = "回复" + reply.from_user_name
                console.log(reply.from_user_name)
            },
            // 回复删除
            handleHover(reply, index, dex) {
                this.handleMouse(reply, index, dex, true)
            },
            // 鼠标mouseover
            mouseOut(reply, index, dex) {
                this.handleMouse(reply, index, dex, false)
            },
            handleMouse(reply, index, dex, flag) {
                var replysCopy = []
                this.posts[index].replys.forEach((value, i) => {
                    if (i == dex) {
                        var replyCopy = {
                            time: reply.time,
                            from_user_name: reply.from_user_name,
                            to_user_name: reply.to_user_name,
                            content: reply.content,
                            show: flag
                        }
                        replysCopy.push(replyCopy)
                    } else {
                        replysCopy.push(value)
                    }
                })
                this.posts[index].replys = replysCopy
            },
            // 删除回复
            deleteReply(replys, reply, dex, item) {
                replys.splice(dex, 1)
                reply.post_id = item._id
                this.handleAjax("/deleteReply", 'post', reply, function(data) {
                    if (data == 1) {
                        item.reply_num -= 1
                    }
                })
            },
            // tab change
            tabClick(val) {
                if (val.name == 'all') {
                    this.initHeart()
                } else {
                    this.getUserSubject()
                }
            },
            // 获取到用户的关注的贴吧帖子
            getUserSubject() {
                this.posts = []
                if (!this.isUser) {
                    this.$message({
                        message: '还没登陆哇',
                        type: 'warning'
                    })
                    return
                }
                var _this = this
                this.handleAjax("/getUserSubjects", "post", {}, function(data) {
                    data = JSON.parse(data)
                    data.forEach((value, index, array) => {
                        value.comments = false
                        value.replys = []
                        value.style = {
                            heart: {
                                color: '#bdbdbd'
                            },
                            share: {
                                color: '#bdbdbd'
                            }
                        }
                        if (_this.heartsPosts.indexOf(value._id) >= 0) {
                            value.style.heart.color = "#f4630b"
                        }
                    })
                    _this.posts = data
                })
            },
            // to mine page
            toMine(item, index) {
                if (item.link) {
                    window.location.href = item.link
                    return
                }
                // 退出
                var _this = this
                if (index == 6) {
                    _this.exit()
                }
            },
            // 退出
            exit() {
                var _this = this
                this.handleAjax("/exit", "get", {}, function(data) {
                    if (data == "1") {
                        _this.$message({
                            message: '退出成功',
                            type: 'warning'
                        })
                        window.location.href = "/login"
                    }
                })
            },
            // 随机生成一个数组  五个
            getArrayItems(arr, num) {
                var temp_array = new Array();
                for (var index in arr) {
                    temp_array.push(arr[index]);
                }
                //取出的数值项,保存在此数组
                var return_array = new Array();
                for (var i = 0; i < num; i++) {
                    if (temp_array.length > 0) {
                        var arrIndex = Math.floor(Math.random() * temp_array.length);
                        return_array[i] = temp_array[arrIndex];
                        temp_array.splice(arrIndex, 1);
                    } else {
                        break;
                    }
                }
                return return_array;
            },
            //换一批
            refresh() {
                this.hotbas = this.getArrayItems(this.hotbas, 5)
            },
            // 查看全部
            showSubjectList() {
                window.location.href = "/subjectList"
            },
            // 关注
            joinSubject(item, index) {
                if (!this.isUser) {
                    this.$message({
                        message: '没有登录哇！',
                        type: 'warning'
                    })
                    return
                }
                var _this = this
                this.handleAjax("/joinSubject", 'post', {
                    _id: item._id,
                    user_name: _this.user.username,
                    avator: _this.user.avator
                }, function(data) {
                    if (data == "1") {
                        _this.hotbas[index].isAttention = true
                        _this.bas.push(_this.hotbas[index])
                    }
                })
            },
            // 展示聊天对话框
            showChat(item) {
                if (this.user.username == item.user_name) {
                    this.$message({
                        message: '不能向自己发送信息哦',
                        type: 'warning'
                    })
                    return
                }
                if (!this.user.username) {
                    this.$message({
                        message: 'sorry, 您还没有登录哇，不能发动消息哇',
                        type: 'warning'
                    })
                    return
                }
                // 加载外部框架
                $("#username_id").val(item.user_name)
                $(".chat").attr("src", "/chat")
                $(".chat").toggle(500)
            },
            // 关闭聊天窗口
            closeChat() {
                $(".chat").toggle(500)
                    // 讲消息都设置为已读
                var _this = this
                _this.handleAjax("/changeMsgStatus", "post", {
                    username: this.user.username
                }, function(data) {
                    console.log(data)
                })
            },
            // show list
            showList() {
                this.listIsShow = !this.listIsShow

                if (this.listIsShow) {
                    $(".el-icon--right").removeClass("el-icon-arrow-up").addClass("el-icon-arrow-down")
                } else {
                    $(".el-icon--right").removeClass("el-icon-arrow-down").addClass("el-icon-arrow-up")
                }
            },
            // show image
            showImage(image) {
                console.log(image)
                this.mask = true
                this.thisImage = image
            },
            // hide image
            hideImage() {
                this.mask = false
                this.thisImage = ''
            },
            // 跳转到subject
            toSubject(item) {
                window.location.href = "/subject?subjectId=" + item._id
            }
        }
    })
</script>

</html>