<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>社区话题</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
</head>
<style type="text/css">
    body{
        margin: 0;
        padding: 0;
        background: #ededef;
    }
    a{
        text-decoration: none;
    }
    .left,.right{
        margin: 0 auto;
    }
    #app{
        text-align: center;
    }
    .left{
        /* padding-left:15%; */
        margin-left: -8px;
        width: 100%;
    }
    .right{
        margin-top: 15px;
        margin-left: 8px;
        width: 100%
    }
    .menu-padding{
        padding-left: 35%;
    }
    .content{
        background: #fff;
        width: 95%;
        margin: 15px auto;
    }
    .sub-content{
        width: 110px;
        height: 100px;
        border-right: 1px solid #ededef;
        color: #f4630b;
        font-size: 53px;
        display: inline-block;
        padding-top: 5px;
        padding-bottom: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    .text{
        font-size:12px;
    }
    .sub-content:last-child{
        border: none;
    }
    .twitter{
        width: 100%;
        /*margin: 15px auto;*/
    }
    .avatar{
        width: 100%;
    }
    .avatar-left{
        padding-right: 10px;
    }
    .content-right{
        text-align: left;
        margin-left: 20px;
        background: #fff;
        padding: 10px 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }
    .content-right>div{
        position: relative;
        background: #fff;
    }
    .arrow{
        position: absolute;
        top: 5px;
        left: -38px;
        width:0;
        height:0;
        font-size:0;
        border:solid 15px;
        border-color:#ededef #fff #ededef #ededef;
    }
    .content-row{
        margin-top: 20px;
    }
    .info{
        background: #f3f3f3;
        border: 1px solid #dfdfdf;
    }
    .name{
        font-size:15px;
        font-weight: 700;
        border-right: 2px solid #fff;
    }
    .name>div{
        margin-left: 20px;
        margin-top: 10px;
        height: 50px;
        text-align: left;
        line-height: 60px;
    }
    .name>div>span{
        display: block;
        line-height: 20px;
    }
    .name>div>span:nth-child(2){
        font-weight: 400;
    }
    .icon-dropdown>i{
        font-weight: 600;
        font-size: 25px;
        line-height: 60px;
    }
    .dropdown-ul{
        padding: 0 10px;
    }
    .list{
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 15px;
        border-bottom: 1px solid #dfdfdf;
        border-left: 1px solid #dfdfdf;
        border-right: 1px solid #dfdfdf;
        background: #f3f3f3;
        text-align: left;
        font-size: 14px;
    }
    .list i{
        color:#CFCFCF;
    }
    .list span{
        margin-left: 15px;
    }
    .list:nth-child(1){
        /* margin-top: 5px; */
        border-top: 2px solid #dfdfdf;
    }
</style>
<body>
    <div id="app">
        <!--菜单导航-->
        <el-menu
                :default-active="activeIndex"
                class="el-menu-demo menu-padding"
                mode="horizontal"
                @select="handleSelect"
                background-color="#f4630b"
                text-color="#fff"
                active-text-color="#ffd04b">
            <el-menu-item index="1"><a href="">校论区</a></el-menu-item>
            <el-menu-item index="2"><a href="">生活休闲</a></el-menu-item>
            <el-menu-item index="3"><a href="">表白墙</a></el-menu-item>
            <el-submenu index="4">
                <template slot="title">我的</template>
                <el-menu-item index="选项1">选项1</el-menu-item>
                <el-menu-item index="选项2">选项2</el-menu-item>
                <el-menu-item index="选项3">选项3</el-menu-item>
            </el-submenu>
        </el-menu>

        <el-row>
            <!-- left -->
            <el-col :span='12' :offset='4'>
                <div class="left">
                    <div class="content">
                        <div class="sub-content" v-for="item in content">
                            <i :class="'fa '+item.icon"></i>
                            <div v-if="item.text" class="text">{{item.text}}</div>
                        </div>
                    </div>
                    <div class="twitter">
                        <el-row v-for="item in container" class="content-row">
                            <el-col :span="3" class="avatar-left">
                                <img :src="item.avatar" alt="" class="avatar">
                            </el-col>
                            <el-col :span="20" class="content-right">
                                <div>
                                    <div class="arrow"></div>
                                    {{item.text}}
                                 </div>
                            </el-col>
                        </el-row>
                    </div>
                </div>
            </el-col>
            <!-- right -->
            <el-col :span='4'>
                <div class="right">
                    <el-row class="info">
                        <el-col :span="18" class="name">
                            <div>
                                <span>ztchun</span>
                                <span>ztchun.com</span>
                            </div>
                        </el-col>
                        <el-col :span="6">
                            <el-dropdown>
                                <span class="el-dropdown-link icon-dropdown">
                                    <i class="el-icon-arrow-down el-icon--right"></i>
                                </span>
                                <el-dropdown-menu slot="dropdown" class="dropdown-ul">
                                    <el-dropdown-item>self</el-dropdown-item>
                                    <el-dropdown-item>self</el-dropdown-item>
                                    <el-dropdown-item>self</el-dropdown-item>
                                </el-dropdown-menu>
                            </el-dropdown>
                        </el-col>
                    </el-row>
                    <el-row>
                        <div class="list" v-for='item in list'>
                            <i :class="item.icon"></i>
                            <span>{{item.text}}</span>
                        </div>
                    </el-row>   
                </div>
            </el-col>
        </el-row>
    </div>
</body>
<!-- 先引入 Vue -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function() {
            return {
                visible: false,
                activeIndex: '1',
                content: [
                    {
                        icon: 'fa-user',
                        text: '头像'
                    },
                    {
                        icon: 'fa-text-width',
                        text: '文字'
                    },
                    {
                        icon: 'fa-camera',
                        text: '图片'
                    },
                    {
                        icon: 'fa-file-text',
                        text: '长文章'
                    },
                    {
                        icon: 'fa-music',
                        text: '音乐'
                    },
                    {
                        icon: 'fa-film',
                        text: '视频'
                    }
                ],
                container: [
                    {
                        avatar: "/images/avatar.jpg",
                        text: '这是一篇文章，包含了我的想法，这是community页面的说说展示，这里面都是一些说说的内容，看到一些有趣的内容这是一篇文章，包含了我的想法，这是community页面的说说这是一篇文章，包含了我的想法，这是community页面的说说展示，这里面都是一些说说的内容，看到一些有趣的内容'
                    },
                    {
                        avatar: "/images/avatar.jpg",
                        text: '这是一篇文章，包含了我的想法，这是community页面的说说展示，这里面都是一些说说的内容，看到一些有趣的内容这是一篇文章，包含了我的想法，这是community页面的说说这是一篇文章，包含了我的想法，这是community页面的说说展示，这里面都是一些说说的内容，看到一些有趣的内容'
                    },
                    {
                        avatar: "/images/avatar.jpg",
                        text: '这是一篇文章，包含了我的想法，这是community页面的说说展示，这里面都是一些说说的内容，看到一些有趣的内容这是一篇文章，包含了我的想法，这是community页面的说说这是一篇文章，包含了我的想法，这是community页面的说说展示，这里面都是一些说说的内容，看到一些有趣的内容'
                    },
                    {
                        avatar: "/images/avatar.jpg",
                        text: '这是一篇文章，包含了我的想法，这是community页面的说说展示，这里面都是一些说说的内容，看到一些有趣的内容这是一篇文章，包含了我的想法，这是community页面的说说这是一篇文章，包含了我的想法，这是community页面的说说展示，这里面都是一些说说的内容，看到一些有趣的内容'
                    },
                    {
                        avatar: "/images/avatar.jpg",
                        text: '这是一篇文章，包含了我的想法，这是community页面的说说展示，这里面都是一些说说的内容，看到一些有趣的内容这是一篇文章，包含了我的想法，这是community页面的说说这是一篇文章，包含了我的想法，这是community页面的说说展示，这里面都是一些说说的内容，看到一些有趣的内容'
                    }
                ],
                list: [
                    {
                        icon: 'fa fa-file-text',
                        text: '我的内容'
                    },
                    {
                        icon: 'fa fa-vcard',
                        text: '我的关注'
                    },
                    {
                        icon: 'fa fa-bullhorn',
                        text: '通知'
                    },
                    {
                        icon: 'fa fa-envelope',
                        text: '私信'
                    },{
                        icon: 'fa fa-home',
                        text: '我的主页'
                    }
                ]
            }
        },
        methods: {
            handleSelect: function(key, keyPath){
                console.log(key, keyPath)
            }
        }
    })
</script>
</html>
