

<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <title>找回密码</title>
    <link rel="stylesheet" href="https://static.segmentfault.com/v-5a9fa408/global/css/global.css"/>
    <link rel="stylesheet" href="https://static.segmentfault.com/v-5a9fa408/user/css/user.css"/>
    <link rel="stylesheet" href="https://static.segmentfault.com/v-5a9fa408/global/css/responsive.css"/>
</head>
<body class="user-forgot ">
<img id="icon4weChat" style="height: 0;width: 0;" data-src="https://static.segmentfault.com/v-5a9fa408/global/img/touch-icon-512.png">
<style>
    .panel {width: 600px}
    @media(max-width: 600px) {
        .panel {width: 100%}
    }
    .logo img{
        width: 100px !important;
        height: 75px !important;
    }
    .btn-primary{
        background-color: #f4630b;
        border-color: #f4630b;
    }
    .btn-primary:hover{
        background-color: #f4630b;
        border-color: #f4630b;
    }
    .captchaInput{
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }
    .captchaInput input{
        width: 60% !important;
    }
</style>
<div class="container">
    <div class="header text-center">
    <h1>
        <a href="/" class="logo">
            <img src="/images/logo.jpg" alt="SegmentFault">
        </a>
    </h1>
        <p class="description text-muted">欢迎来到校园社区重置密码</p>
    </div>
        <div class="panel panel-default center-block">
        <div class="panel-heading">
            <h3 class="panel-title">重置密码</h3>
        </div>
        <div class="panel-body sfModal-content login-modal">
            <form class="form--forgot-password login-wrap mt15 mb15" id="user" role="form">
                <div class="form-group">
                    <label class="control-label">用户名 or 电子邮箱</label>
                     <div >
                        <input id="login-name" class="username form-control activate__step-phone-value"  type="text"  placeholder="请输入用户名或者邮箱地址" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">重置密码</label>
                    <div >
                        <input class="password form-control activate__step-phone-value"  type="password" name="phone" placeholder="请输入重置密码" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">确认密码</label>
                    <div >
                        <input class="repassword form-control activate__step-phone-value"  type="password" name="phone" placeholder="确认密码" />
                    </div>
                </div>

                <div class="captchaInput mb15 form-group" >
                    <input type="text" id="code_input" class="form-control" placeholder="右侧的验证码" style="width: 50%;display: inline;margin-right: 15px;" id="cap-area">
                    <div id="v_container" style="width: 100px;height: 30px;display:inline-block;"></div>
                </div>
                <div class="form-group hidden" data-type="phone" id="phone-login-only">
                     <div>
                        <div class="input-group">
                            <input name="code" type="text" class="form-control activate__step-code-value" placeholder="短信验证码">
                            <span class="input-group-btn"><button style="width:96px;" class="btn btn-default activate__step-code-btn" type="button">获取验证码</button>
                            </span>
                        </div>
                    </div>
                </div>
                <button type="button" id="submit" class="btn btn-primary btn-block">提交</button>
                <button type="button" class="btn btn-primary btn-block hide">cancel</button>
            </form>
        </div>
    </div>

    <div class="panel panel-default center-block hide" id="success">
        <div class="panel-heading">
            <h3 class="panel-title">重置密码</h3>
        </div>
        <div class="panel-body sfModal-content login-modal">
            <div class="login-wrap mt15 mb15" style="color:#212121">
                <p>感谢你使用 SegmentFault，我们发送了一封邮件到你的邮箱：<a href="javascript" id="successMail"></a>，请及时查看（1 小时内有效）</p>
                <a type="button" id="successGotoMail" class="btn btn-primary btn-block mb10">前往邮箱</a>
                <a type="button" href="/" class="btn btn-default btn-block">回到首页</a>
            </div>
        </div>
    </div>
    </div>

<script src="/js/createCode.js" type="text/javascript"></script>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    var verifyCode = new GVerify("v_container");
    $("#submit").click(function(){
        var res = verifyCode.validate(document.getElementById("code_input").value);
        var password = $('.password').val()
        var repassword = $(".repassword").val()
        if(res ){
            // 验证码正确
            if (password == repassword) {
                // 两次密码相同
                $.ajax({
                    url: "/resetPassword",
                    type: "post",
                    data: {
                        username: $(".username").val(),
                        password: $(".password").val(),
                    },
                    success: function (data) {
                        
                    },
                    error: function (err) {
                        console.log("请求错误", err)
                    }
                })
            }else{
                alert("两次密码不相同")
            }
        }else{
            // 验证码不正确
        }
    })
</script>

</body>
</html>
