<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>社区话题</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
</head>
<style type="text/css">
    body {
        margin: 0;
        padding: 0;
        background: #ededef;
    }
    
    a {
        text-decoration: none;
    }
    
    .left,
    .right {
        margin: 0 auto;
    }
    
    #app {
        text-align: center;
    }
    
    .left {
        /* padding-left:15%; */
        margin-left: -8px;
        width: 100%;
    }
    
    .right {
        margin-top: 15px;
        margin-left: 8px;
        width: 100%;
    }
    
    .menu-padding {
        padding-left: 35%;
    }
    
    .info {
        background: #f3f3f3;
        border: 1px solid #dfdfdf;
    }
    
    .name {
        font-size: 15px;
        font-weight: 700;
        border-right: 2px solid #fff;
    }
    
    .name>div {
        margin-left: 20px;
        margin-top: 10px;
        height: 50px;
        text-align: left;
        line-height: 60px;
    }
    
    .name>div>span {
        display: block;
        line-height: 20px;
    }
    
    .name>div>span:nth-child(2) {
        font-weight: 400;
    }
    
    .icon-dropdown>i {
        font-weight: 600;
        font-size: 25px;
        line-height: 60px;
    }
    
    .dropdown-ul {
        padding: 0 10px;
    }
    
    .list {
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 15px;
        border-bottom: 1px solid #dfdfdf;
        border-left: 1px solid #dfdfdf;
        border-right: 1px solid #dfdfdf;
        background: #f3f3f3;
        text-align: left;
        font-size: 14px;
    }
    
    .list i {
        color: #f4630b;
    }
    
    .list span {
        margin-left: 15px;
    }
    
    .list:nth-child(1) {
        /* margin-top: 5px; */
        border-top: 2px solid #dfdfdf;
    }
    
    .school_news {
        width: 97%;
        background: #fff;
        border-radius: 2px;
        border-top: 5px solid #f4630b;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        padding: 10px;
        align-items: flex-start;
        text-align: left;
        flex-wrap: wrap;
    }
    
    .title {
        width: 100%;
        font-size: 16px;
        padding: 10px;
        border-bottom: 1px dotted #dfdfdf;
        color: #f4630b
    }
    /* elementui css */
    
    .el-collapse-item__header {
        height: 30px;
        line-height: 30px;
    }
    
    .el-collapse-item__arrow {
        line-height: 30px;
    }
    
    .el-collapse-item__content {
        padding-bottom: 5px;
    }
    
    .music {
        border-top: 5px solid #5cae97;
    }
    
    .music>.title {
        color: #5cae97;
    }
    
    .xiaohua>.text {
        padding: 10px;
        border-bottom: 1px dotted #dfdfdf;
    }
    
    .weather {
        border-top: 5px solid #f8d0ab;
    }
    
    .weather>.title {
        color: #f8d0ab
    }
    
    .weather_item {
        text-align: center;
        width: 30%;
        margin: 10px;
    }
    
    .xiaohua {
        border-top: 5px solid #e97c62;
    }
    
    .search-menu {
        margin-left: 50px;
        float: left;
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    
    .search input {
        float: right;
        width: 200px;
        height: 30px;
        border-radius: 15px;
    }
    
    .search-icon {
        color: #f4630b;
        margin-left: -25px;
        z-index: 100;
        font-size: 18px;
        font-weight: 900;
    }
    
    .extenal {
        line-height: 60px;
        color: #fff;
    }
    
    .extenal a {
        color: #fff;
        text-decoration: none;
    }
    
    .sub-menu {
        color: #fff;
    }
    
    .g-ft {
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
        font-size: 11px;
    }
    
    .news {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid #dfdfdf;
    }
    
    .news .news-content {
        flex: 1;
        text-align: left;
    }
    
    .news .news-image {
        width: 25%;
        text-align: center;
    }
    
    .news-content .news-title {
        font-size: 18px;
        font-weight: 600;
        padding: 5px;
        padding-left: 0px;
    }
    
    .news-content .news-desc {
        height: 100px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
    }
    
    .news-content .news-desc pre {
        font-size: 14px;
        margin-top: -2px;
        color: #666;
        margin-left: 5px;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        /* padding: 5px; */
        /* line-height: 15px; */
    }
    
    .news .news-image img {
        width: 80%;
    }
    
    .right-wea {
        padding: 5px;
        margin-top: 10px;
        border-radius: 5px;
        background: #f3f3f3;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 10px;
        color: #666;
        border: 1px solid #dfdfdf;
    }
    
    .right-wea>div {
        margin: 10px;
    }
    
    .right-wea img {
        width: 60px;
        border-radius: 50%;
    }
    
    .tem {
        font-size: 40px;
        position: relative;
    }
    
    .tem span {
        position: absolute;
        right: -5px;
        top: -10px;
        font-size: 22px;
        width: 8px;
    }
    
    .address {
        text-align: left;
        font-size: 16px;
    }
    
    .address>div:nth-child(2) {
        font-size: 14px;
    }
    
    .star {
        background: #f3f3f3;
        border: 1px solid #dfdfdf;
        text-align: left;
        /* padding: 5px; */
        margin-top: 10px;
        font-size: 14px;
        color: #666;
        border-radius: 5px;
    }
    
    .star-title {
        border-bottom: 1px dotted #dfdfdf;
        font-size: 14px;
        /* padding: 5px 10px; */
        width: 100%;
        text-align: left;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 5px;
        color: #333;
    }
    
    .star>div:nth-child(2) {
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .image {
        position: relative;
    }
    
    .image img {
        width: 100%;
        height: 200px;
        overflow: hidden;
        position: relative;
    }
    
    .music-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .songName {
        color: #333;
        margin-top: 5px;
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    .artistName {
        margin-top: 5px;
        color: #666;
        font-size: 14px;
    }
    
    .movies {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 10px;
    }
    
    .movie {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-right: 5px;
        width: 50%;
        text-align: left;
    }
    
    .movie-info {
        flex: 1;
        /* overflow: hidden; */
        word-wrap: wrap;
        word-break: break-all;
        margin-left: 10px;
    }
    
    .movie img {
        width: 150px;
    }
    
    .movie-title {
        font-size: 16px;
        font-weight: 700;
        color: #333;
    }
    
    .movie-desc {
        height: 200px;
        font-size: 14px;
        color: #666;
        margin-top: 5px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 8;
    }
    
    .star-text {
        margin-right: 5px;
    }
</style>

<body>
    <div id="app">
        <!--菜单导航-->
        <el-menu :default-active="activeIndex" class="el-menu-demo menu-padding" mode="horizontal" @select="handleSelect" background-color="#f4630b" text-color="#fff" active-text-color="#ffd04b">
            <el-menu-item index="0"><a href="/">首页</a></el-menu-item>
            <el-menu-item index="1"><a href="/community">校论区</a></el-menu-item>
            <el-menu-item index="2"><a href="/life">生活休闲</a></el-menu-item>
            <el-menu-item index="3"><a href="/whiteWall">表白墙</a></el-menu-item>
            <el-submenu index="4">
                <template slot="title">我的</template>
                <el-menu-item index="4"><a href="/mine?index=4" class="sub-menu">账号设置</a></el-menu-item>
                <el-menu-item index="5"><a href="/mine?index=5" class="sub-menu">我的吧</a></el-menu-item>
                <el-menu-item index="6"><a href="/mine?index=6" class="sub-menu">我的关注</a></el-menu-item>
                <el-menu-item index="7"><a href="/mine?index=7" class="sub-menu">我的帖子</a></el-menu-item>
                <el-menu-item index="8"><a href="/mine?index=8" class="sub-menu">我的消息</a></el-menu-item>
                <el-menu-item index="9"><a href="/mine?index=9" class="sub-menu">帮助和反馈</a></el-menu-item>
                <el-menu-item index="10" @click="exit">退出</el-menu-item>
            </el-submenu>
            <div class="search-menu">
                <el-input class="search" placeholder="请输入内容" v-model="search" clearable>
                </el-input>
                <i class="el-icon-search search-icon"></i>
            </div>
            <div class="extenal" v-if="!isUser">
                <a href="/login">登录</a>
                <a href="/register">注册</a>
            </div>
        </el-menu>


        <el-row>
            <!-- left -->
            <el-col :span='12' :offset='4'>
                <div class="left">
                    <div class="content">
                        <div class="school_news">
                            <div class="title">校园新鲜事</div>
                            <div class="news" v-for="item in news" @click="toNewsDesc(item)">
                                <div class="news-content">
                                    <div class="news-title">{{item.title}}</div>
                                    <div class="news-desc">
                                        <pre>{{item.content}}</pre>
                                    </div>
                                </div>
                                <div class="news-image" v-if="item.image">
                                    <img :src="item.image" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="school_news music">
                            <div class="title">每日音乐</div>
                            <div class="weather_item" v-for="(item,index) in music">
                                <div class="image">
                                    <img :src="item.albumpic_big" alt="" @click="playMusic(item, index)">
                                    <!-- <div class="music-image" v-show="item.play" @mouseout.stop="handleMouseout(item)">
                                        <img src="/images/play.png" alt="">
                                        <audio :src="item.url" :id="'paly' + index"></audio>
                                    </div> -->
                                </div>
                                <div class="songName">{{item.songname}}</div>
                                <div class="artistName">{{item.singername}}</div>
                            </div>
                        </div>
                        <!-- <div class="school_news music">
                            <div class="title">电影榜单</div>
                            <div class="movies">
                                <div class="movie" v-for="(item, index) in movie" v-if="index < 2">
                                    <img :src="item.movie_picture" alt="">
                                    <div>
                                        <div class="movie-title">{{item.movie_name}}</div>
                                        <div class="movie-desc">{{item.movie_description}}</div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </el-col>
            <!-- right -->
            <el-col :span='4'>
                <div class="right">
                    <el-row class="info">
                        <el-col :span="18" class="name">
                            <div>
                                <span>{{user.username}}</span>
                                <span>{{user.sign}}</span>
                            </div>
                        </el-col>
                        <el-col :span="6">
                            <span class="icon-dropdown" @click="showList">
                                <i class="el-icon-arrow-down el-icon--right"></i>
                            </span>
                        </el-col>
                    </el-row>
                    <el-row>
                        <div class="list" v-for='item in list' v-if="listIsShow">
                            <i :class="item.icon"></i>
                            <span>{{item.text}}</span>
                        </div>
                    </el-row>
                    <!-- 天气 -->
                    <el-row>
                        <div class="right-wea">
                            <img src="/images/sunny.png" alt="">
                            <div class="tem">{{weather.temple}} <span>。</span> </div>
                            <div class="address">
                                <div>南京</div>
                                <div>{{weather.date}}</div>
                            </div>
                        </div>
                    </el-row>
                    <!-- 运势 -->
                    <el-row>
                        <div class="star">
                            <div class="star-title">今日运势</div>
                            <div>
                                <div>星座：{{star.star}}</div>
                                <div>日期：{{weather.date}}</div>
                                <div class="star-text">{{star.text}}</div>
                            </div>
                        </div>
                    </el-row>
                </div>
            </el-col>
        </el-row>

        <div class="g-ft">
            <div class="m-ft2">
                <a target="_blank" rel="nofollow" href="/">首页</a>
                <span>|</span>
                <a target="_blank" rel="nofollow" href="/">社区话题</a>
                <span>|</span>
                <a target="_blank" rel="nofollow" href="/">休闲区</a>
                <span>|</span>
                <a target="_blank" rel="nofollow" href="/">表白墙</a>
                <span>|</span>
                <a target="_blank" rel="nofollow" href="/">个人主页</a></div>
            <div style="margin-top:10px;">ztchun版权所有　&copy;2017 - 2018　校园社区
            </div>
        </div>

    </div>
</body>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- 先引入 Vue -->
<script src="https://cdn.bootcss.com/vue/2.5.13/vue.js"></script>
<script src="https://cdn.bootcss.com/vue-resource/1.3.4/vue-resource.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function() {
            return {
                activeIndex: '2',
                list: [{
                    icon: 'fa fa-pencil-square-o',
                    text: '账号设置',
                    link: '/mine?index=4'
                }, {
                    icon: 'fa fa-bookmark-o',
                    text: '我的吧',
                    link: '/mine?index=5'
                }, {
                    icon: 'fa fa-star-o',
                    text: '我的关注',
                    link: '/mine?index=6'
                }, {
                    icon: 'fa fa-sticky-note-o',
                    text: '我的帖子',
                    link: '/mine?index=7'
                }, {
                    icon: 'fa fa-bullhorn',
                    text: '我的消息',
                    link: '/mine?index=8'
                }, {
                    icon: 'fa fa-lightbulb-o',
                    text: '帮助和反馈'
                }, {
                    icon: 'fa fa-power-off',
                    text: '退出'
                }, ],
                newLeftActive: '1',
                newRightActive: '2',
                news: [],
                xiaohua: [{
                    title: '你TM现在在我心里就是个菩萨',
                    text: '小侄子刚考试完，我不由得感慨：“以前我们小时候要过几天才能到学校拿成绩单，现在信息发达，直接微信就可以看到成绩了，多好啊！ ”小侄子：“有啥好？挨揍都会提前……”'
                }, {
                    title: '你TM现在在我心里就是个菩萨',
                    text: '小侄子刚考试完，我不由得感慨：“以前我们小时候要过几天才能到学校拿成绩单，现在信息发达，直接微信就可以看到成绩了，多好啊！ ”小侄子：“有啥好？挨揍都会提前……”'
                }, {
                    title: '你TM现在在我心里就是个菩萨',
                    text: '小侄子刚考试完，我不由得感慨：“以前我们小时候要过几天才能到学校拿成绩单，现在信息发达，直接微信就可以看到成绩了，多好啊！ ”小侄子：“有啥好？挨揍都会提前……”'
                }],
                movie: [],
                music: [],
                weather: {},
                star: {},
                search: '',
                user: {},
                isUser: false,
                listIsShow: true,
                time: null
            }
        },
        mounted() {
            this.initUser()
            this.initMusic()
            this.initWeather()
                // this.initMovie()
        },
        methods: {
            // 导航
            handleSelect: function(key, keyPath) {
                console.log(key, keyPath)
            },
            // 退出
            exit() {
                var _this = this
                this.handleAjax("/exit", "get", {}, function(data) {
                    if (data == "1") {
                        _this.$message({
                            message: '退出成功',
                            type: 'warning'
                        })
                        window.location.href = "/login"
                    }
                })
            },
            // 个人信息请求
            initUser() {
                var _this = this
                this.handleAjax("/userInfo", 'get', {}, function(data) {
                    if (data == '0') {
                        // 未注册
                        _this.isUser = false
                        _this.$message.error("sorry,您还未注册哦")
                    } else if (data == '1') {
                        // 未登录
                        _this.isUser = false
                        _this.initNews()
                    } else {
                        //  查询成功
                        _this.isUser = true
                        _this.user = JSON.parse(data)
                        var month = _this.user.birthday.split('-')[1]
                        var day = _this.user.birthday.split('-')[2]
                        _this.star = {
                            star: _this.getStar(month, day) + '座'
                        }
                        _this.initStar(_this.star.star)
                        _this.initNews()
                    }
                })
            },
            initNews() {
                var _this = this
                this.handleAjax('/getNews', 'get', {}, function(data) {
                    _this.news = JSON.parse(data).slice(0, 3)
                })
            },
            initMusic() {
                var _this = this
                console.log({
                    showapi_timestamp: this.getTime(),
                    showapi_appid: '40085',
                    showapi_sign: 'cee89261388a4cd5818f983bc675e500',
                    typeId: "103",
                    page: "1"
                })
                this.handleAjax2("http://route.showapi.com/213-4", "post", {
                    showapi_timestamp: this.getTime(),
                    showapi_appid: '40085',
                    showapi_sign: 'cee89261388a4cd5818f983bc675e500',
                    topid: "4"
                }, function(data) {
                    console.log(data)
                    _this.music = data.showapi_res_body.pagebean.songlist.slice(0, 3)
                })
            },
            initWeather() {
                var _this = this
                this.handleAjax2("http://www.tuling123.com/openapi/api", "post", {
                    key: '462e9e8841e541e09d7df9e45c13552f',
                    info: "南京天气",
                    userid: "896543281"
                }, function(data) {
                    _this.weather.temple = data.text.slice(-2).slice(0, 1)
                    _this.weather.date = _this.getDate()
                    console.log(_this.weather)
                })
            },
            initStar(info) {
                var _this = this
                this.handleAjax2("http://www.tuling123.com/openapi/api", "post", {
                    key: '462e9e8841e541e09d7df9e45c13552f',
                    info: info + '的运势'
                }, function(data) {
                    _this.star.text = data.text
                })
            },
            // initMovie() {
            //     var _this = this
            //     this.$http.jsonp(" http://apis.haoservice.com/lifeservice/boxoffice/wp", {
            //         key: '76964e9b9c544cdb9caba5e5a507921b',
            //         area: 'CN'
            //     }).then(resp => {
            //         console.log(resp)
            //     }, err => {
            //         console.log(err)
            //     })
            // },
            // ajax请求
            handleAjax(url, method, data, handleSuccess) {
                $.ajax({
                    url: url,
                    type: method,
                    data: data,
                    cache: false,
                    success: handleSuccess,
                    error: function(err) {
                        console.log(err)
                    }
                })
            },
            // ajax请求
            handleAjax2(url, method, data, handleSuccess) {
                $.ajax({
                    url: url,
                    type: method,
                    data: data,
                    success: handleSuccess,
                    dataType: 'json',
                    error: function(err) {
                        console.log(err)
                    }
                })
            },
            // show list
            showList() {
                this.listIsShow = !this.listIsShow
                if (this.listIsShow) {
                    $(".el-icon--right").removeClass("el-icon-arrow-up").addClass("el-icon-arrow-down")
                } else {
                    $(".el-icon--right").removeClass("el-icon-arrow-down").addClass("el-icon-arrow-up")
                }
            },
            // 跳转到新闻详情页
            toNewsDesc(news) {
                window.location.href = '/newDesc?id=' + news._id
            },
            getTime() {
                var date = new Date()
                var month = date.getMonth() + 1
                var datetime = date.getFullYear() +
                    "" +
                    (month >= 10 ? month : "0" + month) +
                    "" +
                    (date.getDate() < 10 ? "0" + date.getDate() : date
                        .getDate()) +
                    "" +
                    (date.getHours() < 10 ? "0" + date.getHours() : date
                        .getHours()) +
                    "" +
                    (date.getMinutes() < 10 ? "0" + date.getMinutes() : date
                        .getMinutes()) +
                    "" +
                    (date.getSeconds() < 10 ? "0" + date.getSeconds() : date
                        .getSeconds());
                return datetime;
            },
            getDate() {
                var date = new Date()
                var month = date.getMonth() + 1
                var datetime = month +
                    "月" + date.getDate() + '日'
                return datetime;
            },
            handleMouseenter(music) {
                music.play = true
            },
            handleMouseout(item) {
                item.play = false
            },
            playMusic(item, index) {
                window.location.href = item.url
            },
            getStar(month, day) {
                var s = "魔羯水瓶双鱼牡羊金牛双子巨蟹狮子处女天秤天蝎射手魔羯";
                var arr = [20, 19, 21, 21, 21, 22, 23, 23, 23, 23, 22, 22];
                return s.substr(month * 2 - (day < arr[month - 1] ? 2 : 0), 2);
            }
        }
    })
</script>

</html>