<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>社区话题</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
</head>
<style type="text/css">
    body {
        margin: 0;
        padding: 0;
        background: #ededef;
    }
    
    a {
        text-decoration: none;
    }
    
    .left,
    .right {
        margin: 0 auto;
    }
    
    #app {
        text-align: center;
    }
    
    .left {
        /* padding-left:15%; */
        margin-left: -8px;
        width: 100%;
    }
    
    .right {
        margin-top: 15px;
        margin-left: 8px;
        width: 100%;
    }
    
    .menu-padding {
        padding-left: 35%;
    }
    
    .info {
        background: #f3f3f3;
        border: 1px solid #dfdfdf;
    }
    
    .name {
        font-size: 15px;
        font-weight: 700;
        border-right: 2px solid #fff;
    }
    
    .name>div {
        margin-left: 20px;
        margin-top: 10px;
        height: 50px;
        text-align: left;
        line-height: 60px;
    }
    
    .name>div>span {
        display: block;
        line-height: 20px;
    }
    
    .name>div>span:nth-child(2) {
        font-weight: 400;
    }
    
    .icon-dropdown>i {
        font-weight: 600;
        font-size: 25px;
        line-height: 60px;
    }
    
    .dropdown-ul {
        padding: 0 10px;
    }
    
    .list {
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 15px;
        border-bottom: 1px solid #dfdfdf;
        border-left: 1px solid #dfdfdf;
        border-right: 1px solid #dfdfdf;
        background: #f3f3f3;
        text-align: left;
        font-size: 14px;
    }
    
    .list i {
        color: #CFCFCF;
    }
    
    .list span {
        margin-left: 15px;
    }
    
    .list:nth-child(1) {
        /* margin-top: 5px; */
        border-top: 2px solid #dfdfdf;
    }
    
    .school_news {
        width: 97%;
        background: #fff;
        border-radius: 2px;
        border-top: 5px solid #f4630b;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        padding: 10px;
        align-items: flex-start;
        text-align: left;
        flex-wrap: wrap;
    }
    
    .title {
        width: 100%;
        font-size: 16px;
        padding: 10px;
        border-bottom: 1px dotted #dfdfdf;
        color: #f4630b
    }
    /* elementui css */
    
    .el-collapse-item__header {
        height: 30px;
        line-height: 30px;
    }
    
    .el-collapse-item__arrow {
        line-height: 30px;
    }
    
    .el-collapse-item__content {
        padding-bottom: 5px;
    }
    
    .music {
        border-top: 5px solid #5cae97;
    }
    
    .music>.title {
        color: #5cae97;
    }
    
    .xiaohua>.text {
        padding: 10px;
        border-bottom: 1px dotted #dfdfdf;
    }
    
    .weather {
        border-top: 5px solid #f8d0ab;
    }
    
    .weather>.title {
        color: #f8d0ab
    }
    
    .weather_item {
        text-align: center;
        width: 33%;
    }
    
    .xiaohua {
        border-top: 5px solid #e97c62;
    }
    
    .search-menu {
        margin-left: 50px;
        float: left;
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    
    .search input {
        float: right;
        width: 200px;
        height: 30px;
        border-radius: 15px;
    }
    
    .search-icon {
        color: #f4630b;
        margin-left: -25px;
        z-index: 100;
        font-size: 18px;
        font-weight: 900;
    }
    
    .extenal {
        line-height: 60px;
        color: #fff;
    }
    
    .extenal a {
        color: #fff;
        text-decoration: none;
    }
    
    .sub-menu {
        color: #fff;
    }
    
    .g-ft {
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
        font-size: 11px;
    }
    
    .news {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid #dfdfdf;
    }
    
    .news .news-content {
        width: 70%;
        text-align: left;
    }
    
    .news .news-image {
        width: 25%;
        text-align: center;
    }
    
    .news-content .news-title {
        font-size: 18px;
        font-weight: 600;
        padding: 5px;
        padding-left: 0px;
    }
    
    .news-content .news-desc p {
        font-size: 14px;
        margin-top: -2px;
        margin-left: 5px;
        /* padding: 5px; */
        /* line-height: 15px; */
    }
    
    .news .news-image img {
        width: 80%;
    }
</style>

<body>
    <div id="app">
        <!--菜单导航-->
        <el-menu :default-active="activeIndex" class="el-menu-demo menu-padding" mode="horizontal" @select="handleSelect" background-color="#f4630b" text-color="#fff" active-text-color="#ffd04b">
            <el-menu-item index="0"><a href="/">首页</a></el-menu-item>
            <el-menu-item index="1"><a href="/community">校论区</a></el-menu-item>
            <el-menu-item index="2"><a href="/life">生活休闲</a></el-menu-item>
            <el-menu-item index="3"><a href="/whiteWall">表白墙</a></el-menu-item>
            <el-submenu index="4">
                <template slot="title">我的</template>
                <el-menu-item index="4"><a href="/mine?index=4" class="sub-menu">账号设置</a></el-menu-item>
                <el-menu-item index="5"><a href="/mine?index=5" class="sub-menu">我的吧</a></el-menu-item>
                <el-menu-item index="6"><a href="/mine?index=6" class="sub-menu">我的关注</a></el-menu-item>
                <el-menu-item index="7"><a href="/mine?index=7" class="sub-menu">我的帖子</a></el-menu-item>
                <el-menu-item index="8"><a href="/mine?index=8" class="sub-menu">我的消息</a></el-menu-item>
                <el-menu-item index="9"><a href="/mine?index=9" class="sub-menu">帮助和反馈</a></el-menu-item>
                <el-menu-item index="10" @click="exit">退出</el-menu-item>
            </el-submenu>
            <div class="search-menu">
                <el-input class="search" placeholder="请输入内容" v-model="search" clearable>
                </el-input>
                <i class="el-icon-search search-icon"></i>
            </div>
            <div class="extenal">
                <a href="/login">登录</a>
                <a href="/register">注册</a>
            </div>
        </el-menu>


        <el-row>
            <!-- left -->
            <el-col :span='12' :offset='4'>
                <div class="left">
                    <div class="content">
                        <div class="school_news">
                            <div class="title">校园新鲜事</div>
                            <div class="news" v-for="item in news">
                                <div class="news-content">
                                    <div class="news-title">{{item.title}}</div>
                                    <div class="news-desc">
                                        <p>{{item.desc}}</p>
                                    </div>
                                </div>
                                <div class="news-image">
                                    <img :src="item.image" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="school_news music">
                            <div class="title">每日音乐</div>
                            <div class="weather_item" v-for="item in music">
                                <img :src="item.image" alt="">
                                <div>{{item.title}}</div>
                                <div>{{item.desc}}</div>
                            </div>
                        </div>
                        <div class="school_news xiaohua">
                            <div class="title">开心一刻</div>
                            <div class="text" v-for="item in xiaohua">
                                <div>{{item.title}}</div>
                                <div>
                                    {{item.text}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </el-col>
            <!-- right -->
            <el-col :span='4'>
                <div class="right">
                    <el-row class="info">
                        <el-col :span="18" class="name">
                            <div>
                                <span>ztchun</span>
                                <span>ztchun.com</span>
                            </div>
                        </el-col>
                        <el-col :span="6">
                            <el-dropdown>
                                <span class="el-dropdown-link icon-dropdown">
                                    <i class="el-icon-arrow-down el-icon--right"></i>
                                </span>
                                <el-dropdown-menu slot="dropdown" class="dropdown-ul">
                                    <el-dropdown-item>self</el-dropdown-item>
                                    <el-dropdown-item>self</el-dropdown-item>
                                    <el-dropdown-item>self</el-dropdown-item>
                                </el-dropdown-menu>
                            </el-dropdown>
                        </el-col>
                    </el-row>
                    <el-row>
                        <div class="list" v-for='item in list'>
                            <i :class="item.icon"></i>
                            <span>{{item.text}}</span>
                        </div>
                    </el-row>
                </div>
            </el-col>
        </el-row>

        <div class="g-ft">
            <div class="m-ft2">
                <a target="_blank" rel="nofollow" href="/">首页</a>
                <span>|</span>
                <a target="_blank" rel="nofollow" href="/">社区话题</a>
                <span>|</span>
                <a target="_blank" rel="nofollow" href="/">休闲区</a>
                <span>|</span>
                <a target="_blank" rel="nofollow" href="/">表白墙</a>
                <span>|</span>
                <a target="_blank" rel="nofollow" href="/">个人主页</a></div>
            <div style="margin-top:10px;">ztchun版权所有　&copy;2017 - 2018　校园社区
            </div>
        </div>

    </div>
</body>
<!-- 先引入 Vue -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function() {
            return {
                activeIndex: '2',
                list: [{
                    icon: 'fa fa-file-text',
                    text: '我的内容'
                }, {
                    icon: 'fa fa-vcard',
                    text: '我的关注'
                }, {
                    icon: 'fa fa-bullhorn',
                    text: '通知'
                }, {
                    icon: 'fa fa-envelope',
                    text: '私信'
                }, {
                    icon: 'fa fa-home',
                    text: '我的主页'
                }],
                newLeftActive: '1',
                newRightActive: '2',
                news: [{
                    title: 'title',
                    desc: '代发基本的放开节哀顺变发卡机电饭煲发顺丰就哈萨克放哪代发基本的放开节哀顺变发卡机电饭煲发顺丰就哈萨克放哪代发基本的放开节哀顺变发卡机电饭煲发顺丰就哈萨克放哪代发基本的放开节哀顺变发卡机电饭煲发顺丰就哈萨克放哪代发基本的放开节哀顺变发卡机电饭煲发顺丰就哈萨克放哪代发基本的放开节哀顺变发卡机电饭煲发顺丰就哈萨克放哪',
                    image: '/avatar.jpg'
                }, {
                    title: 'title',
                    desc: '代发基本的放开节哀顺变发卡机电饭煲发顺丰就哈萨克放哪代发基本的放开节哀顺变发卡机电饭煲发顺丰就哈萨克放哪代发基本的放开节哀顺变发卡机电饭煲发顺丰就哈萨克放哪代发基本的放开节哀顺变发卡机电饭煲发顺丰就哈萨克放哪代发基本的放开节哀顺变发卡机电饭煲发顺丰就哈萨克放哪代发基本的放开节哀顺变发卡机电饭煲发顺丰就哈萨克放哪',
                    image: '/avatar.jpg'
                }, {
                    title: 'title',
                    desc: '代发基本的放开节哀顺变发卡机电饭煲发顺丰就哈萨克放哪代发基本的放开节哀顺变发卡机电饭煲发顺丰就哈萨克放哪代发基本的放开节哀顺变发卡机电饭煲发顺丰就哈萨克放哪代发基本的放开节哀顺变发卡机电饭煲发顺丰就哈萨克放哪代发基本的放开节哀顺变发卡机电饭煲发顺丰就哈萨克放哪代发基本的放开节哀顺变发卡机电饭煲发顺丰就哈萨克放哪',
                    image: '/avatar.jpg'
                }, {
                    title: 'title',
                    desc: '代发基本的放开节哀顺变发卡机电饭煲发顺丰就哈萨克放哪代发基本的放开节哀顺变发卡机电饭煲发顺丰就哈萨克放哪代发基本的放开节哀顺变发卡机电饭煲发顺丰就哈萨克放哪代发基本的放开节哀顺变发卡机电饭煲发顺丰就哈萨克放哪代发基本的放开节哀顺变发卡机电饭煲发顺丰就哈萨克放哪代发基本的放开节哀顺变发卡机电饭煲发顺丰就哈萨克放哪',
                    image: '/avatar.jpg'
                }],
                xiaohua: [{
                    title: '你TM现在在我心里就是个菩萨',
                    text: '小侄子刚考试完，我不由得感慨：“以前我们小时候要过几天才能到学校拿成绩单，现在信息发达，直接微信就可以看到成绩了，多好啊！ ”小侄子：“有啥好？挨揍都会提前……”'
                }, {
                    title: '你TM现在在我心里就是个菩萨',
                    text: '小侄子刚考试完，我不由得感慨：“以前我们小时候要过几天才能到学校拿成绩单，现在信息发达，直接微信就可以看到成绩了，多好啊！ ”小侄子：“有啥好？挨揍都会提前……”'
                }, {
                    title: '你TM现在在我心里就是个菩萨',
                    text: '小侄子刚考试完，我不由得感慨：“以前我们小时候要过几天才能到学校拿成绩单，现在信息发达，直接微信就可以看到成绩了，多好啊！ ”小侄子：“有啥好？挨揍都会提前……”'
                }],
                weather: [{
                    image: 'http://app1.showapi.com/weather/icon/day/00.png',
                    title: '晴天',
                    desc: '9度-18度'
                }, {
                    image: 'http://app1.showapi.com/weather/icon/day/00.png',
                    title: '晴天',
                    desc: '9度-18度'
                }, {
                    image: 'http://app1.showapi.com/weather/icon/day/00.png',
                    title: '晴天',
                    desc: '9度-18度'
                }],
                music: [{
                    image: 'http://pic.xiami.net/images/album/img29/2629/141351470297389.jpg@4e_1c_100Q_185w_185h',
                    title: '海阔天空',
                    desc: '海阔天空专辑'
                }, {
                    image: 'http://pic.xiami.net/images/album/img29/2629/141351470297389.jpg@4e_1c_100Q_185w_185h',
                    title: '海阔天空',
                    desc: '海阔天空专辑'
                }, {
                    image: 'http://pic.xiami.net/images/album/img29/2629/141351470297389.jpg@4e_1c_100Q_185w_185h',
                    title: '海阔天空',
                    desc: '海阔天空专辑'
                }],
                search: ''
            }
        },
        methods: {
            // 折叠板
            handleChange(type) {
                if (type == 1) {

                }
            },
            // 导航
            handleSelect: function(key, keyPath) {
                console.log(key, keyPath)
            },
            // 退出
            exit() {
                var _this = this
                this.handleAjax("/exit", "get", {}, function(data) {
                    if (data == "1") {
                        _this.$message({
                            message: '退出成功',
                            type: 'warning'
                        })
                        window.location.href = "/login"
                    }
                })
            }
        }
    })
</script>

</html>