<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>登录 - 校园社区</title>
    <link rel="stylesheet" media="all" href="/css/login.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css">
</head>

<style>
    .sign .logo {
        top: 20px;
    }
    
    .sign .main {
        width: 300px;
    }
    
    body {
        margin: 0
    }
    
    .sign form .input-prepend input {
        margin-left: -15px;
        width: 95%;
        font-size: 15px;
    }
    
    .sign {
        min-height: 800px;
    }
    
    .sign form .input-prepend {
        margin-bottom: 0px;
    }
    
    .sign .main {
        margin-top: 100px;
    }
    
    .login input {
        border-radius: 0 !important;
        border-bottom: none !important;
    }
    
    .sign form .input-prepend i {
        position: absolute;
        top: 21px;
        left: -5px;
        font-size: 20px;
        color: #969696;
    }
    
    input:focus {
        outline: 0 !important;
    }
    
    .sign .sign-in-button {
        background: #f4630b;
        margin-top: 30px;
    }
    
    .sign .sign-in-button:hover {
        background: #f4630b;
    }
    
    .sign .reset-title .active,
    .sign .title .active {
        color: #f4630b;
        border-bottom: 2px solid #f4630b;
    }
    
    .sing-up-msg {
        font-size: 12px;
        color: #bfbfbf;
    }
    
    .errorMsg {
        display: none;
        color: red;
        margin-top: 20px;
        margin-bottom: -20px;
    }
</style>

<body class="no-padding reader-black-font" lang="zh-CN">
    <div class="sign">
        <div class="logo">
            <a href="/"><img src="/images/logo.jpg" alt="Logo" /></a>
        </div>
        <div class="main">
            <h4 class="title">
                <div class="normal-title">
                    <a href="/login">登录</a>
                    <b>·</b>
                    <a class="active" id="js-sign-up-btn" class="" href="/register">注册</a>
                </div>
            </h4>
            <div class="js-sign-in-container">
                <form id="new_session" accept-charset="UTF-8">
                    <div class="input-prepend restyle js-normal">
                        <input placeholder="你的昵称" type="text" class="username" />
                        <i class="fa fa-user-circle-o"></i>
                    </div>

                    <!-- 正常登录登录名输入框 -->
                    <div class="input-prepend login">
                        <input placeholder="请输入邮箱" type="text" class="email" />
                        <i class="fa fa-envelope-square"></i>
                    </div>

                    <!-- 海外登录登录名输入框 -->

                    <div class="input-prepend">
                        <input placeholder="密码" type="password" class="password" />
                        <i class="fa fa-key"></i>
                    </div>

                    <div class="errorMsg">
                        错误
                    </div>
                    <input type="button" name="commit" id="register" value="注册" class="sign-in-button" />
                    <p class="sing-up-msg">
                        点击 “注册” 即表示您同意并愿意遵守简书
                    </p>
                </form>
                <!-- 更多登录方式 -->
                <!-- <div class="more-sign">
                    <h6>社交帐号登录</h6>
                    <ul>
                        <li id="weibo-link-wrap" class="weibo-loading">
                            <a class="weibo" id="weibo-link">
                                <i class="iconfont ic-weibo"></i>
                            </a>
                        </li>
                        <li><a class="weixin" target="_blank" href="/users/auth/wechat"><i class="iconfont ic-wechat"></i></a></li>
                        <li><a class="qq" target="_blank" href="/users/auth/qq_connect"><i class="iconfont ic-qq_connect"></i></a></li>
                        <li class="js-more-method"><a href="javascript:void(0);"><i class="iconfont ic-more"></i></a></li>
                        <li class="js-hide-method hide"><a class="douban" target="_blank" href="/users/auth/douban"><i class="iconfont ic-douban"></i></a></li>
                    </ul>

                    <div class="weibo-geetest-captcha"></div>
                </div> -->
            </div>

        </div>
    </div>

    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
        $(function() {
            var username = false
            $(".username").blur(function() {
                $.ajax({
                    url: "/checkUsername",
                    type: "post",
                    data: {
                        username: $(".username").val()
                    },
                    success: function(data) {
                        console.log(data)
                        if (data == '0') {
                            username = false
                            $(".errorMsg").show().text("sorry,此用户名已经被占用，请重新输入一个哦")
                            $(".username").val("")
                        } else {
                            username = true
                        }
                    },
                    error: function(err) {
                        console.log("请求错误", err)
                    }
                })
            })

            var email = false
            $(".email").blur(function() {
                if (/^(.+)@(.+)$/.test($(this).val())) {
                    email = true
                } else {
                    if ($(".email").val() != "") {
                        $(".errorMsg").show().text("邮箱地址错误")
                    }
                    email = false
                }
            })

            $("input").focus(function() {
                $(".errorMsg").hide()
            })

            $("#register").click(function() {
                if (!email) {
                    $(".errorMsg").show().text("请输入正确的邮箱地址")
                    return
                }
                if (!username) {
                    $(".errorMsg").show().text("请重新选择一个用户名称")
                    return
                }
                if ($(".username").val() == '' || $(".password").val() == '' || $(".email").val() == '') {
                    $(".errorMsg").show().text("用户名、密码、邮箱不能为空")
                    return
                }
                $.ajax({
                    url: "/registerCheck",
                    type: "post",
                    data: {
                        username: $(".username").val(),
                        email: $(".email").val(),
                        password: $(".password").val(),
                    },
                    beforeSend: function() {
                        console.log("正在发送ajax请求")
                    },
                    success: function(data) {
                        console.log(data)
                        if (data == '1') {
                            window.location.href = "/login"
                        } else if (data == '2') {
                            $(".errorMsg").show().text("sorry,注册失败")
                        }
                    },
                    error: function(err) {
                        console.log("请求错误", err)
                    }
                })
            })
        })
    </script>

</body>

</html>