<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>社区话题</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
</head>
<style type="text/css">
    body{
        margin: 0;
        padding: 0;
        background: #dceffe;
    }
    a{
        text-decoration: none;
    }
    .left,.right{
        margin: 0 auto;
    }
    #app{
        text-align: center;
    }
    .left{
        /* padding-left:15%; */
        margin-left: -8px;
        width: 100%;
    }
    .right{
        margin-top: 10px;
        margin-left: 8px;
        width: 100%;
        background: #fff;
        border-radius: 10px;
    }
    .right:nth-child(1){
        margin-top: 205px;
        margin-left: 8px;
        width: 100%;
        background: #fff;
        border-radius: 10px;
    }
    .menu-padding{
        padding-left: 35%;
    }
    .twitter{
        width: 100%;
        /*margin: 15px auto;*/
    }
    .avatar{
        width: 100%;
    }
    .avatar-left{
        padding-right: 10px;
    }
    .content-right{
        text-align: left;
        margin-left: 20px;
        background: #fff;
        padding: 10px 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }
    .content-right>div{
        position: relative;
        background: #fff;
    }
    .arrow{
        position: absolute;
        top: 5px;
        left: -38px;
        width:0;
        height:0;
        font-size:0;
        border:solid 15px;
        border-color:#dceffe #fff #dceffe #dceffe;
    }
    .content-row{
        margin-top: 20px;
    }
    .post{
        margin-top: 10px;
        margin-bottom: 10px;
        clear: both;
    }
    .top{
        border-bottom: 1px solid #d8d8d8;
        padding: 7px;
    }
    .bottom{
        clear: both;
        border-top: 1px solid #d8d8d8;
        padding: 7px;
    }
    .top span{
        color: #bdbdbd;
    }
    .tags,.looks{
        color: #bdbdbd;
    }
    .time,.tags{
        float: right;
    }
    .tags span{
        margin-left: 5px;
        margin-right: 5px;
        font-size: 14px;
    }
    .images{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 10px 30px;
        flex-wrap: wrap;
    }
    .images img{
        width: 21%;
        padding: 10px;
    }
    .info{
        /* background: #f3f3f3; */
        /* border: 1px solid #dfdfdf; */
    }
    .list{
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 15px;
        border-bottom: 1px solid #dfdfdf;
        border-left: 1px solid #dfdfdf;
        border-right: 1px solid #dfdfdf;
        background: #f3f3f3;
        text-align: left;
        font-size: 14px;
    }
    .list i{
        color:#CFCFCF;
    }
    .list span{
        margin-left: 15px;
    }
    .list:nth-child(1){
        border-top: 2px solid #dfdfdf;
    }
    .post-title{
        margin-left: 15px;
        margin-right: 15px;
        font-size: 16px;
    }
    .post-content{
        margin-left: 35px;
        margin-right: 35px;
        color: #848484;
        font-size: 13px;
    }
    .subject-image img{
        width: 100px;
    }
    .subject-info{
        padding: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        color: #222;
    }
    .subject-image{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: nowrap;
    }
    .btn{
        margin: 10px 15px;
        line-height: 15px;
        background: #f4630b;
        color: #fff;
        border-radius: 2px;
        padding: 5px 10px;
    }
    .num{
        margin-top: 10px;
        font-size: 13px;
        color: #848484;
    }
    .subject-content{
        margin: 5px;
        text-align:left;
        font-size:14px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .subject-content>span{
        width: 100%;
        line-height: 20px;
        padding: 5px 0;
    }
    .icon-tag{
        padding: 3px;
        color: #f4630b;
        font-size: 15px;
    }
    .heart,.comment,.share{
        color: #f4630b
    }
    .huati{
        margin: 0 5px 10px 5px;
        font-size: 16px;
        font-weight: 700
    }
    .collapse{
        width: 100%;
        text-align: left;
    }
    .extenal{
        line-height: 60px;
        color: #fff;
    }
    .extenal a{
        color: #fff;
        text-decoration: none;
    }
</style>
<body>
    <div id="app">
        <!--菜单导航-->
        <el-menu
                :default-active="activeIndex"
                class="el-menu-demo menu-padding"
                mode="horizontal"
                @select="handleSelect"
                background-color="#f4630b"
                text-color="#fff"
                active-text-color="#ffd04b">
            <el-menu-item index="0"><a href="/">首页</a></el-menu-item>
            <el-menu-item index="1"><a href="/community">校论区</a></el-menu-item>
            <el-menu-item index="2"><a href="/life">生活休闲</a></el-menu-item>
            <el-menu-item index="3"><a href="/whiteWall">表白墙</a></el-menu-item>
            <el-submenu index="4">
                <template slot="title">我的</template>
                <el-menu-item index="4"><a href="/mine?index=4" class="sub-menu">账号设置</a></el-menu-item>
                <el-menu-item index="5"><a href="/mine?index=5" class="sub-menu">我的吧</a></el-menu-item>
                <el-menu-item index="6"><a href="/mine?index=6" class="sub-menu">我的关注</a></el-menu-item>
                <el-menu-item index="7"><a href="/mine?index=7" class="sub-menu">我的帖子</a></el-menu-item>
                <el-menu-item index="8"><a href="/mine?index=8" class="sub-menu">我的消息</a></el-menu-item>
                <el-menu-item index="9"><a href="/mine?index=9" class="sub-menu">帮助和反馈</a></el-menu-item>
                <el-menu-item index="10" @click="exit">退出</el-menu-item>
            </el-submenu>
            <div class="search-menu">
                <el-input class="search"
                    placeholder="请输入内容"
                    v-model="search"
                    clearable>
                </el-input>
                <i class="el-icon-search search-icon"></i>
            </div>
            <div class="extenal">
                <a href="/login">登录</a>
                <a href="/register">注册</a>
            </div>
        </el-menu>

        <el-row>
            <!-- left -->
            <el-col :span='12' :offset='4'>
                <div class="left">
                    <!-- 左边头部 -->
                    <div class="header">
                        <div class="header-bg">
                            <img src="/images/subject_bg.jpg" alt="">
                        </div>
                    </div>
                    <!-- 内容 -->
                    <div class="twitter">
                        <el-row v-for="item in posts" class="content-row">
                            <el-col :span="2" class="avatar-left">
                                <img :src="item.avator" alt="" class="avatar">
                            </el-col>
                            <el-col :span="21" class="content-right">
                                <div>
                                    <div class="arrow"></div>
                                    <div class="top">
                                        <span class="username">{{item.user_name}}</span>
                                        <span class="time">{{item.time}}</span>
                                    </div>
                                    <div class="post">
                                        <div class="post-title">{{item.post_title}}</div>
                                        <div class="post-content">{{item.post_content}}</div>
                                        <div class="images">
                                            <img v-for="image in item.post_photos" :src="image"></img>
                                        </div>
                                    </div>
                                    <div class="bottom">
                                        <span class="looks">
                                            <span class="fa fa-tag"></span>
                                            <span>{{item.subject_name}}</span>
                                        </span>
                                        <span class="tags">
                                            <span v-if="item.look">浏览数{{item.look}}</span>
                                            <span class="fa fa-heart heart"> {{item.hearts}}</span>
                                            <span class="fa fa-commenting comment"> {{item.reply_num}}</span> 
                                            <span class="fa fa-share share"> {{item.share}}</span>    
                                        </span>
                                    </div>
                                    
                                 </div>
                            </el-col>
                        </el-row>
                    </div>
                </div>
            </el-col>
            <!-- right -->
            <el-col :span='4'>
                <div class="right">
                    <el-row class="info">
                        <div class="subject-info">
                            <div class="huati">本吧信息</div>
                            <div class="subject-image">
                                <img :src="image" alt="">
                                <div>
                                    <div class="btn"> + 关注</div>
                                    <div class="num">关注数： 120</div>
                                    <div class="num">帖子数： 120</div>
                                </div>
                            </div>
                            <div class="subject-content">
                                <span class="sub-title"><span class="fa fa-tag icon-tag"></span> 标题标题标题标题标题标题标题标题标题标题标题标题</span>
                                <span class="sub-content"><span class="fa fa-newspaper-o icon-tag"></span> 描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述</span>
                                <span><span class="fa fa-user-circle icon-tag"></span> 吧主名称</span>
                                <span><span class="fa fa-star icon-tag"></span>吧台等级</span>
                            </div>
                        </div>
                    </el-row>
                    <el-row>

                    </el-row>   
                </div>
                <div class="right">
                    <el-row class="info">
                        <div class="subject-info">
                            <div class="huati">我在本吧</div>
                            <div class="subject-image">
                                <img :src="image" alt="">
                                <div>
                                    <div class="btn"> + 签到</div>
                                    <div class="num">签到数： 120次</div>
                                    <!-- <div class="num">帖子数： 120</div> -->
                                </div>
                            </div>
                            <div class="subject-content">
                                <span class="sub-title"><span class="fa fa-bookmark-o icon-tag"></span> 黄金会员</span>
                                <span class="sub-content"><span class="fa fa-sliders icon-tag"></span> 会员权利</span>
                            </div>
                            <div class="sub-info">
                                <div class=""></div>
                            </div>
                        </div>
                    </el-row>
                </div>
                <div class="right">
                    <el-row class="info">
                        <div class="subject-info">
                            <div class="huati">本吧热门话题</div>
                            <div class="collapse">
                                    <el-collapse v-model="activeNames" @change="handleChange">
                                            <el-collapse-item title="一致性 Consistency" name="1">
                                              <div>与现实生活一致：与现实生活的流程、逻辑保持一致，遵循用户习惯的语言和概念；</div>
                                              <div>在界面中一致：所有的元素和结构需保持一致，比如：设计样式、图标和文本、元素的位置等。</div>
                                            </el-collapse-item>
                                            <el-collapse-item title="反馈 Feedback" name="2">
                                              <div>控制反馈：通过界面样式和交互动效让用户可以清晰的感知自己的操作；</div>
                                              <div>页面反馈：操作后，通过页面元素的变化清晰地展现当前状态。</div>
                                            </el-collapse-item>
                                            <el-collapse-item title="效率 Efficiency" name="3">
                                              <div>简化流程：设计简洁直观的操作流程；</div>
                                              <div>清晰明确：语言表达清晰且表意明确，让用户快速理解进而作出决策；</div>
                                              <div>帮助用户识别：界面简单直白，让用户快速识别而非回忆，减少用户记忆负担。</div>
                                            </el-collapse-item>
                                            <el-collapse-item title="可控 Controllability" name="4">
                                              <div>用户决策：根据场景可给予用户操作建议或安全提示，但不能代替用户进行决策；</div>
                                              <div>结果可控：用户可以自由的进行操作，包括撤销、回退和终止当前操作等。</div>
                                            </el-collapse-item>
                                          </el-collapse>
                            </div>
                        </div>
                    </el-row>
                </div>
            </el-col>
        </el-row>
    </div>
</body>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- 先引入 Vue -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function() {
            return {
                activeIndex: '1',
                posts: [
                    {
                        post_title: 'title',
                        subject_name: '摄影',
                        user_name:"ztchun",
                        time: '2018-01-03',
                        look: 32,
                        hearts: 20,
                        reply_num:10,
                        share: 10,
                        avator: "/images/avatar.jpg",
                        post_content: '这是一篇文章，包含了我的想法，这是community页面的说说展示，这里面都是一些说说的内容，看到一些有趣的内容这是一篇文章，包含了我的想法，这是community页面的说说这是一篇文章，包含了我的想法，这是community页面的说说展示，这里面都是一些说说的内容，看到一些有趣的内容',
                        post_photos: [
                            '/images/avatar.jpg',
                            '/images/avatar.jpg',
                            '/images/avatar.jpg',
                        ]
                    },
                    {
                        post_title: 'title',
                        subject_name: '摄影',
                        user_name:"ztchun",
                        time: '2018-01-03',
                        look: 32,
                        hearts: 20,
                        reply_num:10,
                        share: 10,
                        avator: "/images/avatar.jpg",
                        post_content: '这是一篇文章，包含了我的想法，这是community页面的说说展示，这里面都是一些说说的内容，看到一些有趣的内容这是一篇文章，包含了我的想法，这是community页面的说说这是一篇文章，包含了我的想法，这是community页面的说说展示，这里面都是一些说说的内容，看到一些有趣的内容',
                        post_photos: [
                            '/images/avatar.jpg',
                            '/images/avatar.jpg',
                            '/images/avatar.jpg',
                        ]
                    }
                ],
                list: [
                    {
                        icon: 'fa fa-file-text',
                        text: '我的内容'
                    },
                    {
                        icon: 'fa fa-vcard',
                        text: '我的关注'
                    },
                    {
                        icon: 'fa fa-bullhorn',
                        text: '通知'
                    },
                    {
                        icon: 'fa fa-envelope',
                        text: '私信'
                    },{
                        icon: 'fa fa-home',
                        text: '我的主页'
                    }
                ],
                image: '/images/subjects/avatar.jpg',
                user: {},
                subejct:{},
                activeNames: ['1']
            }
        },
        created () {
        },
        watch: {
        },
        methods: {
            handleSelect: function(key, keyPath){
                console.log(key, keyPath)
            },
            handleChange(val) {
                console.log(val);
            },
            exit(){
                var _this = this
                this.handleAjax("/exit", "get", {}, function(data){
                    if (data == "1"){
                        _this.$message({
                            message: '退出成功',
                            type: 'warning'
                        })
                        window.location.href = "/login"
                    }
                })
            }
        }
    })
</script>
</html>
