<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>吧集</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
</head>
<style type="text/css">
body{
    font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;
    margin: 0;
    padding: 0;
    background: #ededef;
}
#app{
    text-align: center;
}
.menu-padding{
    margin: 0 auto;
    padding-left: 35%;
}
.sub-menu{
    color: #fff;
}
a{
    text-decoration: none;
}
.grid{
    color:#555;
    font-size:13px;
}
.container{
    margin: 0 auto;
    max-width: 1100px;
}
.grid-item{ 
    background: #fff;
    border-radius: 2px;
    margin-top: 20px;
    border: 1px solid #ddd;
    width: 330px;
    margin-left: 9px;
    margin-right: 9px;
}   
.header{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    text-align:left;
    padding: 6px;
    background: #F5F5F5;
    line-height: 1.2;
}
.content{
    text-indent: 2em;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    text-align: left;
    padding: 10px;
    background: #FFF;
}
.operate{
    text-align: right;
    padding: 0 10px 10px 10px;
}
.operate i{
    padding: 0 5px;
    cursor: pointer;
}
.search-menu{
    margin-left: 50px;
    float: left;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.search input{
    float: right;
    width: 200px;
    height: 30px;
    border-radius: 15px;
}
.search-icon{
    color: #f4630b;
    margin-left: -25px;
    z-index: 100;
    font-size:18px;
    font-weight: 900;
}
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
  .form{
      padding: 25px;
  }
  .extenal{
        line-height: 60px;
        color: #fff;
    }
    .extenal a{
        color: #fff;
        text-decoration: none;
    }
</style>
<body>
    <div id="app">
        <!--菜单导航-->
        <el-menu
                :default-active="activeIndex"
                class="el-menu-demo menu-padding"
                mode="horizontal"
                @select="handleSelect"
                background-color="#f4630b"
                text-color="#fff"
                active-text-color="#ffd04b">
            <el-menu-item index="0"><a href="/">首页</a></el-menu-item>
            <el-menu-item index="1"><a href="/community">校论区</a></el-menu-item>
            <el-menu-item index="2"><a href="/life">生活休闲</a></el-menu-item>
            <el-menu-item index="3"><a href="/whiteWall">表白墙</a></el-menu-item>
            <el-submenu index="4">
                    <template slot="title">我的</template>
                    <el-menu-item index="4"><a href="/mine?index=4" class="sub-menu">账号设置</a></el-menu-item>
                    <el-menu-item index="5"><a href="/mine?index=5" class="sub-menu">我的吧</a></el-menu-item>
                    <el-menu-item index="6"><a href="/mine?index=6" class="sub-menu">我的关注</a></el-menu-item>
                    <el-menu-item index="7"><a href="/mine?index=7" class="sub-menu">我的帖子</a></el-menu-item>
                    <el-menu-item index="8"><a href="/mine?index=8" class="sub-menu">我的消息</a></el-menu-item>
                    <el-menu-item index="9"><a href="/mine?index=9" class="sub-menu">帮助和反馈</a></el-menu-item>
                    <el-menu-item index="10"><a href="/mine?index=10" class="sub-menu">退出</a></el-menu-item>
            </el-submenu>
            <div class="search-menu">
                <el-input class="search"
                    placeholder="请输入内容"
                    v-model="search"
                    clearable>
                </el-input>
                <i class="el-icon-search search-icon"></i>
            </div>
            <div class="extenal">
                <a href="/login">登录</a>
                <a href="/register">注册</a>
            </div>
        </el-menu>
        <div class="container">
            <div class="grid">
                <div class="grid-item">
                    <el-form ref="form" :model="form" label-width="72px" class="form">
                        <el-form-item label="主题名称">
                            <el-input v-model="form.name"></el-input>
                        </el-form-item>
                        <el-form-item label="主题描述">
                            <el-input type="textarea" :rows="3" v-model="form.desc"></el-input>
                        </el-form-item>
                        <el-form-item label="吧头像">
                            <el-upload
                                class="avatar-uploader"
                                action="/"
                                :show-file-list="false"
                                :on-success="handleAvatarSuccess"
                                :before-upload="beforeAvatarUpload">
                                <img v-if="form.image" :src="form.image" class="avatar">
                                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                            </el-upload>
                        </el-form-item>
                    </el-form>
                </div>
                <div class="grid-item" v-for="item in subjects">
                    <div class="header">{{item.title}}</div>
                    <div class="content">
                        {{item.content}}
                    </div>
                    <div class="operate">
                        <i class="fa fa-heart" @click="goHeart(1, item)"> 关注</i>
                        <i class="fa fa-sign-in" @click="goHeart(2, item)"> 进入</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- 先引入 Vue -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- 插件使用 -->
<script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.js"></script>
<script>
    new Vue({
        el: '#app',
        mounted: function(){
            var grid = document.querySelector('.grid');
            console.log(grid)
            var msnry = new Masonry( grid, {
                // options...
                itemSelector: '.grid-item',
                columnWidth: 350,
                // gutterWidth: 25,
                isFitWidth:true
            });
        },
        data: function() {
            return {
                activeIndex: '1',
                subjects: [
                    {
                        title: '主题名称',
                        content: 'content',
                        subjectId: 'subject_id'
                    },
                    {
                        title: '主题名称',
                        content: 'content',
                        subjectId: 'subject_id'
                    },
                    {
                        title: '主题名称',
                        content: 'content',
                        subjectId: 'subject_id'
                    },
                    {
                        title: '主题名称',
                        content: 'content',
                        subjectId: 'subject_id'
                    },
                    {
                        title: '主题名称',
                        content: 'content',
                        subjectId: 'subject_id'
                    },
                    {
                        title: '主题名称',
                        content: 'content',
                        subjectId: 'subject_id'
                    },
                    {
                        title: '主题名称',
                        content: 'content',
                        subjectId: 'subject_id'
                    },
                ],
                search: '',
                form: {}
            }
        },
        methods: {
            init(){

            },
            handleSelect: function(key, keyPath){
                console.log(key, keyPath)
            },
            goHeart(type, item){
                if (type == '1'){
                    // 关注
                    console.log(item)
                } else {
                    window.localtion.href = "/subject?subjectId=" + item.subjectId
                }
            },
            // 上传图片
            handleAvatarSuccess(res, file) {
                console.log('图片上传结果',res)
            },
            beforeAvatarUpload(file) {
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isLt2M) {
                this.$message.error('上传头像图片大小不能超过 2MB!');
                }
                return isLt2M;
            }
        }
    })
</script>
</html>
