<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>吧列</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" media="all" href="/css/subjectList.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css">
</head>
<style>
    body {
        margin: 0;
        padding: 0;
        background: #fff;
    }
    
    a {
        text-decoration: none;
    }
    
    #app {
        text-align: center;
    }
    
    .menu-padding {
        padding-left: 35%;
    }
    
    .search-menu {
        margin-left: 50px;
        float: left;
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    
    .search input {
        float: right;
        width: 200px;
        height: 30px;
        border-radius: 15px;
    }
    
    .search-icon {
        color: #f4630b;
        margin-left: -25px;
        z-index: 100;
        font-size: 18px;
        font-weight: 900;
    }
    
    .extenal {
        line-height: 60px;
        color: #fff;
    }
    
    .extenal a {
        color: #fff;
        text-decoration: none;
    }
    
    .subject-tab {
        margin: 0 auto;
        margin-top: 20px;
        width: 65%;
    }
    
    .el-tabs__item.is-active {
        color: #f4630b;
    }
    
    .el-tabs__item:hover {
        color: #f4630b;
    }
    
    .el-tabs__active-bar {
        background: #f4630b;
    }
    
    .fa {
        padding-right: 8px;
    }
    
    .g-ft {
        padding-bottom: 30px;
        text-align: center;
        font-size: 11px;
    }
    
    .sub-menu {
        color: #fff;
    }
    
    .follow {
        cursor: pointer;
    }
</style>

<body class="reader-black-font">
    <div id="app">
        <el-menu :default-active="activeIndex" class="el-menu-demo menu-padding" mode="horizontal" @select="handleSelect" background-color="#f4630b" text-color="#fff" active-text-color="#ffd04b">
            <el-menu-item index="0"><a href="/">首页</a></el-menu-item>
            <el-menu-item index="1"><a href="/community">校论区</a></el-menu-item>
            <el-menu-item index="2"><a href="/life">生活休闲</a></el-menu-item>
            <el-menu-item index="3"><a href="/whiteWall">表白墙</a></el-menu-item>
            <el-submenu index="4">
                <template slot="title">我的</template>
                <el-menu-item index="4"><a href="/mine?index=4" class="sub-menu">账号设置</a></el-menu-item>
                <el-menu-item index="5"><a href="/mine?index=5" class="sub-menu">动态</a></el-menu-item>
                <el-menu-item index="6"><a href="/mine?index=6" class="sub-menu">我的消息</a></el-menu-item>
                <el-menu-item index="7"><a href="/mine?index=7" class="sub-menu">我的关注</a></el-menu-item>
                <el-menu-item index="8"><a href="/mine?index=8" class="sub-menu">我的吧</a></el-menu-item>
                <el-menu-item index="9"><a href="/mine?index=9" class="sub-menu">帮助和反馈</a></el-menu-item>
                <el-menu-item index="10" @click="exit">退出</el-menu-item>
            </el-submenu>
            <div class="search-menu">
                <el-input class="search" placeholder="请输入内容" v-model="search" clearable>
                </el-input>
                <i class="el-icon-search search-icon"></i>
            </div>
            <div class="extenal" v-if="!isUser">
                <a href="/login">登录</a>
                <a href="/register">注册</a>
            </div>
        </el-menu>

        <el-tabs v-model="activeName" @tab-click="handleClick" class="subject-tab">
            <el-tab-pane name="first">
                <span slot="label"><i class="fa fa-star"></i>热门吧</span>
                <div class="container recommend">
                    <div class="row" id="list-container">
                        <div class="col-xs-8" v-for="(subject,index) in subjects" @click.prevent.stop="toSubject(subject)">
                            <div class="collection-wrap">
                                <a target="_blank">
                                    <img class="avatar-collection" :src="subject.subject_image" alt="180" />
                                    <h4 class="name">{{subject.subject_name}}</h4>
                                    <p class="collection-description">{{subject.subject_desc}}</p>
                                    <div class="follow" v-if="subject.isAttention" @click.prevent.stop="cancelJoinSubject(subject, index, 2)">- 取关</div>
                                    <div class="follow" v-else @click.prevent.stop="joinSubject(subject, index, 2)">+ 关注</div>
                                </a>
                                <div class="count"><a target="_blank">{{subject.post_num}}篇帖子</a> · {{subject.follow_num}}人关注</div>
                            </div>
                        </div>
                    </div>

                    <a class="btnn btn-load" href="">加载更多</a>
                </div>
            </el-tab-pane>

            <el-tab-pane name="second">
                <span slot="label"><i class="fa fa-th-list"></i>全部吧</span>
                <div class="container recommend">
                    <div class="row" id="list-container">
                        <div class="col-xs-8" v-for="(subject, index) in allSubjects" @click.prevent.stop="toSubject(subject)">
                            <div class="collection-wrap">
                                <a target="_blank">
                                    <img class="avatar-collection" :src="subject.subject_image" alt="180" />
                                    <h4 class="name">{{subject.subject_name}}</h4>
                                    <p class="collection-description">{{subject.subject_desc}}</p>
                                    <div class="follow" v-if="subject.isAttention" @click.prevent.stop="cancelJoinSubject(subject, index, 1)">- 取关</div>
                                    <div class="follow" v-else @click.prevent.stop="joinSubject(subject, index, 1)">+ 关注</div>
                                </a>
                                <div class="count"><a target="_blank">{{subject.post_num}}篇帖子</a> · {{subject.follow_num}}人关注</div>
                            </div>
                        </div>
                    </div>

                    <a class="btnn btn-load" href="">加载更多</a>
                </div>
            </el-tab-pane>

            <el-tab-pane name="third">
                <span slot="label"><i class="fa fa-th-list"></i>我关注的</span>
                <div class="container recommend">
                    <div class="row" id="list-container">
                        <div class="col-xs-8" v-for="(subject,index) in allSubjects" v-if="subject.isAttention" @click.prevent.stop="toSubject(subject)">
                            <div class="collection-wrap">
                                <a target="_blank">
                                    <img class="avatar-collection" :src="subject.subject_image" alt="180" />
                                    <h4 class="name">{{subject.subject_name}}</h4>
                                    <p class="collection-description">{{subject.subject_desc}}</p>
                                    <div class="follow" @click.prevent.stop="cancelJoinSubject(subject, index, 1)">- 取关</div>
                                </a>
                                <div class="count"><a target="_blank">{{subject.post_num}}篇帖子</a> · {{subject.follow_num}}人关注</div>
                            </div>
                        </div>
                    </div>

                    <a class="btnn btn-load" href="">加载更多</a>
                </div>
            </el-tab-pane>
        </el-tabs>

        <div class="g-ft">
            <div class="m-ft2">
                <a target="_blank" rel="nofollow" href="/">首页</a>
                <span>|</span>
                <a target="_blank" rel="nofollow" href="/">社区话题</a>
                <span>|</span>
                <a target="_blank" rel="nofollow" href="/">休闲区</a>
                <span>|</span>
                <a target="_blank" rel="nofollow" href="/">表白墙</a>
                <span>|</span>
                <a target="_blank" rel="nofollow" href="/">个人主页</a></div>
            <div style="margin-top:10px;">ztchun版权所有　&copy;2017 - 2018　校园社区
            </div>
        </div>
    </div>
</body>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- 先引入 Vue -->
<script src="https://cdn.bootcss.com/vue/2.5.13/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function() {
            return {
                search: '',
                activeIndex: '1',
                activeName: 'first',
                subjects: [],
                allSubjects: [],
                user: {},
                isUser: false
            }
        },
        watch: {
            subjects() {
                console.log('////')
            },
            allSubjects() {
                console.log('//')
            }
        },
        created() {
            this.initUser()
                // this.getSubjects()
        },
        watch: {},
        methods: {
            initUser() {
                var _this = this
                this.handleAjax("/userInfo", 'get', {}, function(data) {
                    if (data == '0') {
                        // 未注册
                        _this.isUser = false
                        _this.$message.error("sorry,您还未注册哦")
                    } else if (data == '1') {
                        // 未登录
                        _this.isUser = false
                            // _this.$notify.info({
                            //     title: '消息',
                            //     message: '您还没有登录哦',
                            //     duration: 0
                            // });
                        _this.getSubjects()
                    } else {
                        //  查询成功
                        _this.isUser = true
                        _this.user = JSON.parse(data)
                        _this.getSubjects()
                    }
                })
            },
            getSubjects() {
                var _this = this
                this.handleAjax("/initSubjects", 'get', {}, function(data) {
                    _this.allSubjects = JSON.parse(data)
                    _this.allSubjects.forEach((value, index) => {
                        value.follow_num = value.follow_user.length
                        value.hot = parseInt(value.follow_num) * 0.5 + parseInt(value.post_num) * 0.5
                        if (parseInt(value.follow_num) == 0) {
                            value.isAttention = false
                        } else {
                            value.isAttention = false
                            value.follow_user.forEach((value2, index2) => {
                                if (value2.user_name == _this.user.username) {
                                    value.isAttention = true
                                }
                            })
                        }
                    })
                    var subjects = _this.allSubjects.slice(0)
                    subjects.sort(_this.compare('hot'))
                    _this.subjects = subjects
                })
            },
            compare(prop) {
                return function(obj1, obj2) {
                    var value1 = obj1[prop]
                    var value2 = obj2[prop]
                    if (value1 > value2) {
                        return -1
                    } else if (value1 < value2) {
                        return 1
                    } else {
                        return 0
                    }
                }
            },
            // ajax请求
            handleAjax(url, method, data, handleSuccess) {
                $.ajax({
                    url: url,
                    type: method,
                    data: data,
                    cache: false,
                    success: handleSuccess,
                    error: function(err) {
                        console.log(err)
                    }
                })
            },
            handleSelect(val) {
                console.log(val)
            },
            handleClick(val) {
                // console.log(val)
            },
            exit() {
                var _this = this
                this.handleAjax("/exit", "get", {}, function(data) {
                    if (data == "1") {
                        _this.$message({
                            message: '退出成功',
                            type: 'warning'
                        })
                        window.location.href = "/login"
                    }
                })
            },
            joinSubject(subject, index, tag) {
                if (!this.isUser) {
                    this.$message({
                        message: '没有登录哇！',
                        type: 'warning'
                    })
                    return
                }
                var _this = this
                this.handleAjax("/joinSubject", 'post', {
                    _id: subject._id,
                    user_name: _this.user.username,
                    avator: _this.user.avator
                }, function(data) {
                    if (data == "1") {
                        if (tag == "1") {
                            subject.isAttention = true
                            _this.allSubjects.splice(index, 1)
                            _this.allSubjects.splice(index, 0, subject)
                        } else {
                            subject.isAttention = true
                            _this.subjects.splice(index, 1)
                            _this.subjects.splice(index, 0, subject)
                        }
                    }
                })
            },
            cancelJoinSubject(subject, index, tag) {
                var _this = this
                if (!this.isUser) {
                    this.$message({
                        message: '没有登录哇！',
                        type: 'warning'
                    })
                    return
                }
                this.handleAjax("/cancelJoinSubject", "post", {
                    _id: subject._id,
                    user_name: _this.user.username,
                    avator: _this.user.avator
                }, function(data) {
                    if (data == "1") {
                        if (tag == "1") {
                            subject.isAttention = false
                            _this.allSubjects.splice(index, 1)
                            _this.allSubjects.splice(index, 0, subject)
                        } else {
                            subject.isAttention = false
                            _this.subjects.splice(index, 1)
                            _this.subjects.splice(index, 0, subject)
                        }
                    }
                })
            },
            toSubject(subject) {
                window.location.href = "/subject?id=" + subject._id
            }
        }
    })
</script>

</html>